.product
  %section.product-details
    .container
      .row.product-intro
        .col-sm-7.col-md-5.keyvisual
          .img-product{style: "background-image: url(#{asset_url('products/democracy-card/details/card_1.png')})"}
        .col-sm-5.col-md-7.information
          .product-title
            조직 민주주의 엽서 세트
          .product-price
            00,000원 / 개당
          .product-subtitle
            내가 속한 조직과 단체의 민주주의를 돌아보는 엽서 세트
          %a.purchase-topbtn.btn{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"} 구매하기
      .product-description
        .first-content
          = image_tag "products/democracy-card/details/card_1.png", class: 'img-responsive horizontal-visual'
          내가 속한 조직은 민주적인지, 그리고 나는 어떻게 민주적으로 존재할 수 있는지 묻고 답해보세요.
          %br
          국제 NPO 컨퍼런스 세션에서 엔스파이럴, 롤링다이어스, 빠띠가
          %br
          나눈 대담 기록을 체크리스트로 만들어봤습니다.
        .content
          = image_tag "products/democracy-card/details/card_2.png", class: 'img-responsive horizontal-visual'
          내가 속한 조직은 민주적인지, 그리고 나는 어떻게 민주적으로 존재할 수 있는지 묻고 답해보세요.
          %br
          국제 NPO 컨퍼런스 세션에서 엔스파이럴, 롤링다이어스, 빠띠가
          %br
          나눈 대담 기록을 체크리스트로 만들어봤습니다.
        .content
          %br
          (우) 어차피 답은 정해져 있고 대답만 하는 메일이 지겨워질 때,
          %br
          매번 듣기 싫은 말에 '넵'만 해왔다면 듣고 싶은 말이라도 노란색 부분에 써보는 건 어떨까요?
          %br
          아님 가장 듣기 싫었던 말을 적은 후 찢어봐도 좋겠네요.
        .content
          = image_tag "products/democracy-card/details/card_3.png", class: 'img-responsive horizontal-visual'
          = image_tag "products/democracy-card/details/card_4.png", class: 'img-responsive horizontal-visual'
          내가 속한 곳에서 나의 권력으로 혹시 누군가에게 해를 입히고 있진 않은지 돌아보기를,
          %br
          혹은 깨닫지 못했던 문제점을 누군가 주장할 때 그의 이야길 들어주기를 권하는 글을 옮겼습니다.
          %br
          %br
          * 시민의 불복종 - 헨리 데이비드 소로우
          %br
          * 느낌의 공동체 - 치명적인 시 용산, 신형철
        .last-content
          %br
          엽서 사이즈 : 100 x 148 (mm)

        %a.purchase-bottombtn.btn{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"} 구매하기
