.product
  %section.product-details
    .container
      .row.product-intro
        .col-sm-6.keyvisual
          .img-product{style: "background-image: url(#{asset_url('products/femischool-picket/details/femischool_1.png')})"}
        .col-sm-6.information
          .product-title
            페미니스트 선생님 기자회견 피켓
          -# .product-price
          -#   00,000원 / 개당
          .product-subtitle
            %br
            성평등 교육 지원을 위한 '우리에겐 페미니스트 선생님이 필요합니다' 캠페인을 위한 피켓
          %a.purchase-topbtn.btn{:href => "", onclick: "alert('2월 오픈 준비 중입니다.');"} 구매하기
      .product-description
        .first-content
          = image_tag "products/femischool-picket/details/1.jpg", class: 'img-responsive horizontal-visual'
          2017년 7월, 최현희 선생님이 온라인 매체 <닷페이스>의 인터뷰에서 페미니즘 교육에 대한 언급을 한 후,
          %br
          이에 반대하는 네티즌의 신상 털기와 성소수자 인권을 가르쳤다는 이유로
          %br
          아동학대로 고발한 보수단체 등에게 공격을 받았습니다.
        .content
          = image_tag "products/femischool-picket/details/femischool_1.png", class: 'img-responsive horizontal-visual'
          닷페이스, 한국사이버폭력대응센터, 빠띠, 우주당은 가브크래프트를 통해 교내 페미니즘 교육 보장과
          %br
          페미니스트 선생님에 대한 공격을 멈추어 달라는 서명을 받으며 #우리에겐_페미니스트_선생님이 필요합니다.
          %br
          해시태그 운동과 캠페인을 시작했습니다.
        .content
          = image_tag "products/femischool-picket/details/2.jpg", class: 'img-responsive horizontal-visual'
          = image_tag "products/femischool-picket/details/3.jpg", class: 'img-responsive horizontal-visual'
          2300여명의 서명을 받고, 더불어민주당 권미혁, 금태섭 국회의원, 전국교직원노동조합 여성위원회, 닷페이스,
          %br
          우주당, 한국사이버성폭력대응센터, 한국여성의전화, 와일드블랭크프로젝트, 허니클로버레인보우,
          %br
          전국디바협회, 한국성폭력상담소, 전교조여성위, 한국여성민우회, 초등성펴등연구회가 주최하여
          %br
          "페미니스트 선생님에 대한 공격을 멈춰라"는 기자회견을 국회 정론관에서 열었습니다.
        .content
          = image_tag "products/femischool-picket/details/femischool_2.png", class: 'img-responsive horizontal-visual'
          = image_tag "products/femischool-picket/details/femischool_3.png", class: 'img-responsive horizontal-visual'
          = image_tag "products/femischool-picket/details/femischool_4.png", class: 'img-responsive horizontal-visual'
          = image_tag "products/femischool-picket/details/femischool_5.png", class: 'img-responsive horizontal-visual'
          2018년, 지금도 선생님을 향한 공격은 지속되고 있습니다.
          %br
          성평등 교육과 페미니스트 선생님을 지지해주세요.
        .content
          %br
          %a.content-link{href:'https://www.youtube.com/watch?v=RArvdK3MbU8',target:'_blank'}
            닷페이스 최현희 선생님 인터뷰 영상
          %br
          %a.content-link{href:'https://www.youtube.com/watch?v=FjPYh3WX688',target:'_blank'}
            한국일보 페미니스트 선생님이 필요합니다 기자회견 영상
          %br
          %a.content-link{href:'http://news.khan.co.kr/kh_news/khan_art_view.html?artid=201710301634001',target:'_blank'}
            경향신문 페미니스트 최현희 교사 인터뷰
        .last-content
          %br
          사이즈: A4사이즈, 297 x 210 (mm)

        %a.purchase-bottombtn.btn{:href => "", onclick: "alert('2월 오픈 준비 중입니다.');"} 구매하기
