.product
  %section.product-details
    .container
      .row.product-intro
        .col-sm-6.keyvisual
          .img-product{style: "background-image: url(#{asset_url('products/fish-card/details/fishcard_2.png')})"}
        .col-sm-6.information
          .product-title
            물고기 파티 네트워킹 스티커
          -# .product-price
          -#   00,000원 / 개당
          .product-subtitle
            %br
            독립적인 개인들을 위한 즐겁고 가벼운 네트워킹 프로그램 스티커
          %a.purchase-topbtn.btn{:href => "http://smartstore.naver.com/partiunion/products/2548952129", :target => "_blank"} 구매하기
      .product-description
        .first-content
          = image_tag "products/fish-card/details/fish_1.jpg", class: 'img-responsive vertical-visual'
          가볍게 자신의 관심사를 이야기하고 작게 감탄과 격려도 하는 시간, 필요하세요?
          %br
          '물고기 파티'는 거대한덩치의 아젠다가 아니라 소소한 나의 관심사로, 독립적이면서 가볍게,
          %br
          또 그렇게 자유롭게 움직이는 '작은 물고기' 같은 사람들을 만나 서로가 어디를 따라
          %br
          헤엄치고 있는지 이야기를 나누는 프로그램입니다.
        .content
          = image_tag "products/fish-card/details/fishcard_1.png", class: 'img-responsive horizontal-visual'
          바로 이 스티커를 활용해서요.
          %br
          관심사 세가지로 자신을 소개하고, 나머지 스티커에는 나의 연락처를 적어둡니다.
        .content
          = image_tag "products/fish-card/details/fishcard_2.png", class: 'img-responsive horizontal-visual'
          이렇게 하나씩 떼어지는 스티커에는
          %br
          '응원해요', '잘 될 거 같아요', '즐거워 보여요', '배우고 싶어요'
          %br
          메시지가 적혀 있습니다.
        .content
          = image_tag "products/fish-card/details/fish_2.jpg", class: 'img-responsive vertical-visual'
          돌아가면서 자신에 대한 소개를 관심사로 마친 후에,
          %br
          소개를 들으며 '뭐든 같이 해보고 싶었던' 사람들을 찾아가
          %br
          메시지와 자신의 연락처가 적힌 스티커를 붙여주며 가볍게 이야기를 나누는 시간을 가집니다.
        .content
          = image_tag "products/fish-card/details/fish_3.jpg", class: 'img-responsive vertical-visual'
          흥미로운 이야기를 나누어준 사람과 관대한 사람들이 만나면
          %br
          이렇게 한가득 스티커를 받게 되기도 합니다.
        .content
          = image_tag "products/fish-card/details/fishcard_3.png", class: 'img-responsive horizontal-visual'
          독립적이고 자유로운 개인이면서도 뭔가 함께할 사람을 찾고 있다면,
          %br
          이 스티커를 활용한 물고기 피티를 열어보세요 :)
          %br
          %br
          %a.content-link{href:'https://parti-xyz.gitbooks.io/issue-guide/content/bb3c-ace0-ae30-d30c-d2f0.html',target:'_blank'}
            물고기 파티 가이드 보기
        .last-content
          %br
          사이즈: A4사이즈, 297 x 210 (mm)

        %a.purchase-bottombtn.btn{:href => "http://smartstore.naver.com/partiunion/products/2548952129", :target => "_blank"} 구매하기
