#page-contents
  .bloc.bloc-bg-texture.texture-darken.tc-anti-flash-white.bgc-white.about-slogan{ style: "background-image: url(#{asset_url('contents.jpg')})" }
    .container.bloc-md
      .row
        .col-sm-12
          %h1.mg-md.device-bloc-text.tc-white
            컨텐츠
          %p.mg-lg.device-bloc-text-p
            민주주의를 일상에 적용할 수 있는 컨텐츠를 만듭니다.
  .bloc.bgc-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 가이드
          %p.mg-sm.text-center.text
            사회의 각 영역에서 필요한 민주주의 플랫폼을 만들고
            %br
            각 플랫폼을 적절히 사용하기 위한 가이드를 함께 개발하고 있습니다.
          .guide{ style: "background-image: url(#{asset_url('contents/organization-guide.jpg')})" }
            %a{:href => "http://demos.wiki/index.php?title=%ED%9A%8C%EC%82%AC%EC%97%90%EC%84%9C_%EB%AF%BC%EC%A3%BC%EC%A3%BC%EC%9D%98", :target => "_blank"}
              .box
                .text
                  %strong<>조직 내 민주주의 가이드
                  %br
                  %strong<>
          .guide{ style: "background-image: url(#{asset_url('contents/issue-community-guide.jpg')})" }
            %a{:href => "http://demos.wiki/index.php?title=%EC%9D%B4%EC%8A%88%EA%B0%80_%EC%9E%88%EC%9D%84%EB%95%8C_%EB%AF%BC%EC%A3%BC%EC%A3%BC%EC%9D%98", :target => "_blank"}
              .box
                .text
                  %strong<>이슈 커뮤니티 가이드
                  %br
                  %strong<>
          .guide{ style: "background-image: url(#{asset_url('contents/diy-party-guide.jpg')})" }
            %a{:href => "http://demos.wiki/index.php?title=DIY_%EB%8B%B9_%EB%A7%8C%EB%93%A4%EA%B8%B0_%EA%B0%80%EC%9D%B4%EB%93%9C", :target => "_blank"}
              .box
                .text
                  %strong<>DIY 당 만들기 가이드
                  %br
                  %strong<>
          .more-article-box.text-center
            %a{:href => "http://demos.wiki", :target => "_blank"}
              .more-article-text
                가이드 더 보기
  .bloc.bgc-anti-flash-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 블로그
          %p.mg-sm.text-center.text
            빠띠의 이야기, 빠띠의 실험들을 모아서 발행합니다.
          .row.test
            .introduce-box
              %p.text-center.introduce-text
                %a{:href => "https://brunch.co.kr/magazine/parti", :target => "_blank"}
                  %strong<>브런치
            .introduce-box
              %p.text-center.introduce-text
                %a{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"}
                  %strong<>미디엄
  #bloc-48.bloc.tc-white.bloc-bg-texture.texture-darken.bgc-white.compaign-footer{style: "background-image: url(#{asset_url('campaigns/campaign-footer.png')});"}
    .container.bloc-md
      .row
        .col-sm-12
          %h2.mg-md.device-bloc-text.tc-white
            We develop
            %span democracy
          %p.mg-lg.device-bloc-text-p
            빠띠의 민주주의 리포트를 만나보세요.
        .col-xs-12.col-sm-2
          .button-wrapper
            %a{:href => "https://stibee.com/api/v1.0/emails/share/R8ERZk_eQSqZU_ayafsVZV4Up9m_", :target => "_blank"}
              .magazine{ style: "background-image: url(#{asset_url('contents/march.png')})" }
        .col-xs-12.col-sm-4
          %h5.report-title
            %a{:href => "https://stibee.com/api/v1.0/emails/share/R8ERZk_eQSqZU_ayafsVZV4Up9m_", :target => "_blank"}
              %u 3월 민주주의 리포트
          .report-content
            \#빠띠_회고 #여성의날_굳즈 #쓰레기덕질_프로젝트
        .col-xs-12.col-sm-2
          .button-wrapper
            %a{:href => "https://stibee.com/api/v1.0/emails/share/bJgOqkuRCBBjYiK3ZqRqEmB8z7xU", :target => "_blank"}
              .magazine{ style: "background-image: url(#{asset_url('contents/april.jpg')})" }
        .col-xs-12.col-sm-4
          %h5.report-title
            %u
              %a{:href => "https://stibee.com/api/v1.0/emails/share/bJgOqkuRCBBjYiK3ZqRqEmB8z7xU", :target => "_blank"} 4월 민주주의 리포트
          .report-content
            \#기술_리터러시 #앱으로_빠띠 #세월호_아카이브 #금요일엔_빠띠_실험실 #홈페이지_새단장
      .row
        .col-xs-12.col-sm-2
          .button-wrapper
            %a{:href => "https://stibee.com/api/v1.0/emails/share/dtjE9FkV2GaOBg-oYSVQNfTYJkcA", :target => "_blank"}
              .magazine{ style: "background-image: url(#{asset_url('contents/may.png')})" }
        .col-xs-12.col-sm-4
          %h5.report-title
            %a{:href => "https://stibee.com/api/v1.0/emails/share/dtjE9FkV2GaOBg-oYSVQNfTYJkcA", :target => "_blank"}
              %u 5월 민주주의 리포트
          .report-content
            \#근로보다_노동 #독립러의_노동절 #사무실에서_일이_안되는_이유 #다같이_만드는_기고_계약서

