#page-contents
  .bloc.bloc-bg-texture.texture-darken.tc-anti-flash-white.bgc-white.about-slogan{ style: "background-image: url(#{asset_url('contents.jpg')})" }
    .container.bloc-md
      .row
        .col-sm-12
          %h1.mg-md.device-bloc-text.tc-white
            민주주의 리포트
          %p.mg-lg.device-bloc-text-p
            민주주의를 일상에 적용할 수 있는 컨텐츠를 만듭니다.
  .bloc.bgc-white.l-bloc
    .container.bloc-md.contents-magazine
      .row
        .col-sm-12
          %h4.mg-sm.tc-outer-space.text-center
            민주주의 리포트
          %p.mg-sm.text-center
            빠띠 소식을 한 달에 한 번 이메일로 보내드립니다.
            %br
            빠띠의 캠페인, 커뮤니티, 팀원들의 이야기가 궁금하신 분은 구독해주세요.
      .row
        .col-xs-12.col-sm-4
          .button-wrapper
            %a{:href => "https://stib.ee/mab", :target => "_blank"}
              .magazine{ style: "background-image: url(#{asset_url('contents/july.png')})" }
        .col-xs-12.col-sm-8
          %h5.report-title
            %a{:href => "https://stib.ee/mab", :target => "_blank"}
              %u 7월 민주주의 리포트
          .report-content
            \#여름방학_예고편 #민주주의_서울 #공공기관_화장실_비상용_생리대_비치 #타운홀_정책배틀
      .row
        .col-xs-12.col-sm-4
          .button-wrapper
            %a{:href => "https://stib.ee/EWT", :target => "_blank"}
              .magazine{ style: "background-image: url(#{asset_url('contents/june.png')})" }
        .col-xs-12.col-sm-8
          %h5.report-title
            %a{:href => "https://stib.ee/EWT", :target => "_blank"}
              %u 6월 민주주의 리포트
          .report-content
            \#인터넷 #민주주의 #공공재 #빠띠_스브스뉴스 #미세먼지_대책 #인턴일기 #내향적인_활동가_모임
      .row
        .col-xs-12.col-sm-4
          .button-wrapper
            %a{:href => "https://stibee.com/api/v1.0/emails/share/dtjE9FkV2GaOBg-oYSVQNfTYJkcA", :target => "_blank"}
              .magazine{ style: "background-image: url(#{asset_url('contents/may.png')})" }
        .col-xs-12.col-sm-8
          %h5.report-title
            %a{:href => "https://stibee.com/api/v1.0/emails/share/dtjE9FkV2GaOBg-oYSVQNfTYJkcA", :target => "_blank"}
              %u 5월 민주주의 리포트
          .report-content
            \#근로보다_노동 #독립러의_노동절 #사무실에서_일이_안되는_이유 #다같이_만드는_기고_계약서
      .row
        .col-xs-12.col-sm-4
          .button-wrapper
            %a{:href => "https://stibee.com/api/v1.0/emails/share/bJgOqkuRCBBjYiK3ZqRqEmB8z7xU", :target => "_blank"}
              .magazine{ style: "background-image: url(#{asset_url('contents/new-app.png')})" }
        .col-xs-12.col-sm-8
          %h5.report-title
            %u
              %a{:href => "https://stibee.com/api/v1.0/emails/share/bJgOqkuRCBBjYiK3ZqRqEmB8z7xU", :target => "_blank"} 4월 민주주의 리포트
          .report-content
            \#기술_리터러시 #앱으로_빠띠 #세월호_아카이브 #금요일엔_빠띠_실험실 #홈페이지_새단장
      .row
        .col-xs-12.col-sm-4
          .button-wrapper
            %a{:href => "https://stibee.com/api/v1.0/emails/share/R8ERZk_eQSqZU_ayafsVZV4Up9m_", :target => "_blank"}
              .magazine{ style: "background-image: url(#{asset_url('contents/march.png')})" }
        .col-xs-12.col-sm-8
          %h5.report-title
            %a{:href => "https://stibee.com/api/v1.0/emails/share/R8ERZk_eQSqZU_ayafsVZV4Up9m_", :target => "_blank"}
              %u 3월 민주주의 리포트
          .report-content
            \#빠띠_회고 #여성의날_굳즈 #쓰레기덕질_프로젝트

  .bloc.bgc-anti-flash-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 블로그
          %p.mg-sm.text-center.text
            빠띠의 이야기, 빠띠의 실험들을 모아서 발행합니다.
          .row.test
            .introduce-box
              %p.text-center.introduce-text
                %a{:href => "https://brunch.co.kr/magazine/parti", :target => "_blank"}
                  %strong<>브런치
      - @posts.in_groups_of(3, false).each do |group|
        .row
          - group.each do |post|
            .col-xs-12.col-sm-4
              %h5.article-title
                %u
                  = link_to post[0].text, post[1].text, target: '_blank'
          - if group.length == 2
            .col-xs-12.col-sm-4
              %h5.article-title
                %u
                  = link_to '더 보기...', "https://medium.com/parti-xyz-developers", target: '_blank'

  .bloc.bgc-white.l-bloc
    .container.bloc-md
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 가이드
          %p.mg-sm.text-center.text
            사회의 각 영역에서 필요한 민주주의 플랫폼을 만들고
            %br
            각 플랫폼을 적절히 사용하기 위한 가이드를 함께 개발하고 있습니다.
          .guide{ style: "background-image: url(#{asset_url('contents/organization-guide.jpg')})" }
            %a{:href => "https://parti.xyz/posts/20933", :target => "_blank"}
              .box
                .text
                  %strong<>조직 내 민주주의 가이드
                  %br
                  %strong<>
          .guide{ style: "background-image: url(#{asset_url('contents/issue-community-guide.jpg')})" }
            %a{:href => "https://parti.xyz/posts/20932", :target => "_blank"}
              .box
                .text
                  %strong<>이슈 커뮤니티 가이드
                  %br
                  %strong<>
          .guide{ style: "background-image: url(#{asset_url('contents/diy-party-guide.jpg')})" }
            %a{:href => "https://parti.xyz/posts/20934", :target => "_blank"}
              .box
                .text
                  %strong<>DIY 당 만들기 가이드
                  %br
                  %strong<>
          .more-article-box.text-center
            %a{:href => "https://parti.xyz/p/demos-guide", :target => "_blank"}
              .more-article-text
                가이드 더 보기

