#page-govcraft
  .bloc.bloc-bg-texture.texture-darken.tc-anti-flash-white.bgc-white.about-slogan{ style: "background-image: url(#{asset_url('platform-govcraft.jpg')})" }
    .container.bloc-md
      .row
        .col-sm-12
          %h1.mg-md.device-bloc-text.tc-white
            가브크래프트
          %p.mg-lg.device-bloc-text-p
            참여형 캠페인을 위한 플랫폼

  .bloc.bgc-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 참여형 캠페인을 위한 플랫폼
          %p.mg-sm.text-center
            시민이 스스로 말하고, 행동하는 캠페인을 만들고 계세요?
            %br
            가브크래프트에서는 직접 서명, 청원, 아카이브,
            %br.visible-xs
            메일 보내기, 게시판 등의 기능을 이용하여
            %br
            사람들을 모으고 실효성 있는 정치적 움직임을 시작할 수 있습니다.
      .row.govcraft-app
        .col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-3
          %a{:href => "http://govcraft.org/", :target => "_blank"}
            = image_tag "icon/web.png", class: 'img-circle center-block img-frame-rd govcraft-app-icon'
            .text-center.govcraft-app-text
              PC/모바일 웹에서 가브크래프트 사용하기

  .bloc.bgc-anti-flash-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 가이드
          .introduce-box
            %p.text-center.introduce-text
              %a{:href => "http://demos-wiki.partiunion.org/index.php?title=%EC%BA%A0%ED%8E%98%EC%9D%B8_%EA%B0%80%EC%9D%B4%EB%93%9C", :target => "_blank"}
                %strong<>캠페인 가이드
          .introduce-box
            %p.text-center.introduce-text
              %a{:href => "http://demos-wiki.partiunion.org/", :target => "_blank"}
                %strong<>데모스 위키

  .bloc.bgc-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 캠페인 케이스
          %p.mg-md.text-center
            가브크래프트를 활용해
            %br.visible-xs
            참여형 캠페인을 시작할 수 있는 가이드입니다.
          %h5.mg-md.text-center
            이벤트형 캠페인
          .row
            .col-xs-12.col-md-6
              %a{:href => "http://govcraft.org/p/HIM", :target => "_blank"}
                .campaign{ style: "background-image: url(#{asset_url('campaigns/campaign-young-law.png')})" }
                .campaign-text
                  %h5
                    %u
                      "#피해자를_피해자로 아청법 개정을 촉구합니다"
                  %p.mg-sm
                  성매수 피해 십대 여성을 보호하기 위한 캠페인
            .col-xs-12.col-md-6
              %a{:href => "http://wouldyouparty.govcraft.org/p/bisang2016", :target => "_blank"}
                .campaign{ style: "background-image: url(#{asset_url('campaigns/campaign-president-park.png')})" }
                .campaign-text
                  %h5
                    %u
                      [퇴진행동] 즉각 퇴진! 조기 탄핵! 온라인비상국민행동
                  %p.mg-sm
                  박근혜 전 대통령 퇴진을 위한 캠페인
          %h5.mg-md.text-center
            서명 캠페인
          .row
            .col-xs-12.col-md-6
              %a{:href => "http://govcraft.org/petitions/58", :target => "_blank"}
                .campaign{ style: "background-image: url(#{asset_url('campaigns/campaign-jeju-airport.jpg')})" }
                .campaign-text
                  %h5
                    %u
                      제주 제2공항 전면재검토를 요구합니다
            .col-xs-12.col-md-6
              %a{:href => "http://wouldyouparty.govcraft.org/petitions/54", :target => "_blank"}
                .campaign{ style: "background-image: url(#{asset_url('campaigns/campaign-feminst-teacher.png')})" }
                .campaign-text
                  %h5
                    %u
                      우리에겐_페미니스트_선생님이_필요합니다
                  %p.mg-sm
                    최근 집중적으로 사이버불링 공격의 대상자가 되고 있는 페미니스트 선생님에 대한 문제 해결을 위한 캠페인
          .row
            .col-xs-12.col-md-6
              %h5.mg-md.text-center
                아카이브
              %a{:href => "http://wouldyouparty.org/archives/1", :target => "_blank"}
                .campaign{ style: "background-image: url(#{asset_url('platforms/govcraft-archives.png')})" }
                .campaign-text
                  %h5
                    %u
                      세월호 아카이브
                  %p.mg-sm
                    세월호 참사를 시민의 힘으로 기록하고 기억합니다.
            .col-xs-12.col-md-6
              %h5.mg-md.text-center
                추모
              %a{:href => "http://govcraft.org/sympathies/1", :target => "_blank"}
                .campaign{ style: "background-image: url(#{asset_url('platforms/govcraft-sympathies.png')})" }
                .campaign-text
                  %h5
                    %u
                      故 백남기 농민 추모
                  %p.mg-sm
                    당신의 모습이 아직 가슴 속에 선명합니다

  .bloc.bgc-anti-flash-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 가브크래프트 그룹 개설
          .more-govcraft-box
            %p.text-center.text
              %a{:href => "https://parti.xyz/service", :target => "_blank"}
                %strong<>비용 안내 및 개설 문의

          .upgraded-govcraft{ style: "background-image: url(#{asset_url('platforms/govcraft-rebootkorea.jpg')})" }
            %a{:href => "http://rebootkorea.govcraft.org/", :target => "_blank"}
              .box
                .text
                  %strong<>국민개헌넷
                  %br
                  %strong<>국민의 목소리가 개헌안에 담길 수 있기를 요구하는 네트워크
          .upgraded-govcraft{ style: "background-image: url(#{asset_url('platforms/govcraft-urimanna.png')})" }
            %a{:href => "http://urimanna.govcraft.org/", :target => "_blank"}
              .box
                .text
                  %strong<>우리가 만드는 나라
                  %br
                  %strong<>전국적인 온라인 만민공동회 구축을 위한 프로젝트

