#page-parti
  .bloc.bloc-bg-texture.texture-darken.tc-anti-flash-white.bgc-white.about-slogan{ style: "background-image: url(#{asset_url('platform-parti.jpg')})" }
    .container.bloc-md
      .row
        .col-sm-12
          %h1.mg-md.device-bloc-text.tc-white
            빠띠
          %p.mg-lg.device-bloc-text-p
            팀과 커뮤니티를 위한 민주주의 플랫폼
  .bloc.bgc-white.l-bloc
    .container.bloc-sm
      .voffset-md
        .col-xs-12
          %h4.text-center.mg-clear.tc-outer-space
            %span 팀과 커뮤니티를 위한 민주주의 플랫폼
          %p.mg-md.text-center
            팀이 더 민주적으로 협력하기를 원하세요?
            %br
            이슈에 공감하는 사람들과 이야기를 나누고 싶으세요?
            %br
            회사, 마을, 단체, 동아리 등 나의 일상을
            %br
            민주적인 삶으로 채우고 싶은 사람들을
            %br.visible-xs
            빠띠에서 만나 보세요.
            %br
            웹, 앱에서 지금 바로 빠띠를 사용할 수 있습니다.
          .row.mg-md
            .col-sm-8.text-center
              = image_tag "platforms/platform-join-parti.png", style: 'width: 85%'
            .col-sm-4
              %p.mg-sm.parti-howto
                %h5
                  다른 빠띠에 가입해 보세요!
                내 홈에서 게시물을 확인할 수 있습니다.
                %br
                사회 이슈, 취미, 스터디 등
                %br
                다양한 용도로 빠띠를 활용할 수 있습니다.
                %br
                의견을 게시하고 설문조사를 하며
                %br
                이야기한 내용을 위키에 업데이트하면서
                %br
                토론을 진행해 보세요.
          .row.mg-md
            .col-sm-4
              %p.mg-sm.parti-howto
                %h5.text-right
                  새로 빠띠를 만들어 보세요!
                .text-right
                  동물과 채식, 쓰레기 덕질하기, 페미니즘
                  %br
                  당신이 관심있는 이슈가 있다면
                  %br
                  버튼 하나로 새로운 빠띠를 만들어 보세요.
                  %br
                  그룹에서 다양한 이야기를 나누고 싶을 때는
                  %br
                  그룹 빠띠를 만들어 보세요.
                  %br
                  그룹의 토론이, 다양한 이야기들이
                  %br
                  더 선명해집니다.
            .col-sm-8.text-center
              = image_tag "platforms/platform-make-parti.png", style: 'width: 85%'
      .row.parti-app
        .col-sm-4
          %a{:href => "https://parti.xyz/", :target => "_blank"}
            .parti-app-link
              = image_tag "icon/web.png", class: 'img-circle center-block img-frame-rd parti-app-icon'
              .text-center.parti-app-text
                PC/모바일 웹에서 빠띠 사용하기

        .col-sm-4
          %a{:href => "https://itunes.apple.com/kr/app/%EB%B9%A0%EB%9D%A0/id1362474504?mt=8", :target => "_blank"}
            .parti-app-link
              = image_tag "icon/iphone.png", class: 'img-circle center-block img-frame-rd parti-app-icon'
              .text-center.parti-app-text
                아이폰 앱으로 사용하기
        .col-sm-4
          %a{:href => "https://play.google.com/store/apps/details?id=xyz.parti.catan&hl=ko", :target => "_blank"}
            .parti-app-link
              = image_tag "icon/android.png", class: 'img-circle center-block img-frame-rd parti-app-icon'
              .text-center.parti-app-text
                안드로이드 어플리케이션으로 사용하기

  .bloc.bgc-anti-flash-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 이슈 커뮤니티
          %p.mg-md.text-center
            빠띠를 사용하여 커뮤니티를 활발히 운영하고 있는 모임들을 소개합니다.
          .issue-parti{ style: "background-image: url(#{asset_url('platforms/platform-parti-feminism.png')})" }
            %a{:href => "https://parti.xyz/p/feminism", :target => "_blank"}
              .box
                .text
                  %strong<>페미니즘
                  %br
                  %strong<>여성 인권 이슈의 정보를 모으고, 의사표현을 하는 곳입니다
          .issue-parti{ style: "background-image: url(#{asset_url('platforms/platform-parti-vegi-curious.png')})" }
            %a{:href => "https://parti.xyz/p/vegi-curious", :target => "_blank"}
              .box
                .text
                  %strong<>동물과 채식이 궁금해
                  %br
                  %strong<>동물권을 함께 공부하고, 소소하게 채식을 실천해보아요
          .issue-parti{ style: "background-image: url(#{asset_url('platforms/platform-parti-enhancers.png')})" }
            %a{:href => "https://meetshare.parti.xyz/p/enhancers", :target => "_blank"}
              .box
                .text
                  %strong<>1인 활동가, 연구자 모이시오
                  %br
                  %strong<>동료 고픈 당신, 커몽

  .bloc.bgc-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 업그레이드형 그룹 빠띠 파트너
          .more-parti-box
            %p.text-center.text
              %a{:href => "https://parti.xyz/about", :target => "_blank"}
                %strong<>비용 안내 및 개설 문의

          .issue-parti{ style: "background-image: url(#{asset_url('platforms/platform-parti-zero-waste.jpg')})" }
            %a{:href => "https://meetshare.parti.xyz/p/enhancers", :target => "_blank"}
              .box
                .text
                  %strong<>쓰레기덕질
                  %br
                  %strong<>쓰레기에 관한 모든 이야기를 나눌 수 있는 곳
          .issue-parti{ style: "background-image: url(#{asset_url('platforms/platform-parti-meetshare.png')})" }
            %a{:href => "https://meetshare.parti.xyz/p/enhancers", :target => "_blank"}
              .box
                .text
                  %strong<>미트쉐어
                  %br
                  %strong<>NPO센터가 진행한 미트쉐어 커뮤니티
          .issue-parti{ style: "background-image: url(#{asset_url('platforms/platform-parti-union.jpg')})" }
            %a{:href => "https://union.parti.xyz/", :target => "_blank"}
              .box
                .text
                  %strong<>민주주의 활동가 그룹
                  %br
                  %strong<>빠띠의 민주주의 활동가 그룹입니다

  .bloc.bgc-anti-flash-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 가이드
          .introduce-box
            %p.text-center.introduce-text
              %a{:href => "http://demos-wiki.partiunion.org/index.php?title=%ED%9A%8C%EC%82%AC%EC%97%90%EC%84%9C_%EB%AF%BC%EC%A3%BC%EC%A3%BC%EC%9D%98", :target => "_blank"}
                %strong<>조직 내 민주주의 가이드
          .introduce-box
            %p.text-center.introduce-text
              %a{:href => "http://demos-wiki.partiunion.org/index.php?title=%EC%9D%B4%EC%8A%88%EA%B0%80_%EC%9E%88%EC%9D%84%EB%95%8C_%EB%AF%BC%EC%A3%BC%EC%A3%BC%EC%9D%98", :target => "_blank"}
                %strong<>이슈 커뮤니티 가이드
          .introduce-box
            %p.text-center.introduce-text
              %a{:href => "http://demos-wiki.partiunion.org/index.php", :target => "_blank"}
                %strong<>데모스 위키

