%a{class: 'anchor', id: 'anchor-campaign'}

#bloc-43.bloc.bgc-white.l-bloc
  .container.bloc-sm
    .row.compaign-header
      .col-xs-12.col-md-8.col-md-offset-2
        %h3.statement-bloc-text.mg-md.tc-black
          %span
            캠페인
            %br/
        %p.mg-sm.text-center
          시민들의 목소리를 모으고 발화하게 하는
          %span
            %strong<> Voice
            ,
          %br.visible-xs
          모인 의견으로 숙의할 수 있는
          %span
            %strong<> Deliberation
            ,
          %br.visible-xs
          여론을 모으고 제도 개선을 이루는
          %span
            %strong<> Action
            ,
          %br.visible-xs
          새로운 정치 실험
          %span
            %strong<> Lab
            ,
          %br.visible-xs
          이 4가지 성격의 캠페인을 제안하고 시도하고 있습니다.

#bloc-43.bloc.bgc-white.l-bloc
  .container.bloc-sm
    .campaigns-body
      .row
        .col-sm-4
          = image_tag "campaigns/campaign-sewol.png", class: 'img-responsive', onclick: "alert('만드는 중이예요^^');"
          %h3.mg-sm.tc-outer-space
            세월호 아카이브
          %p.mg-lg
            (coming soon) 세월호 참사의 기록에 시민과 연구자가 자유롭게 접근하고, 기록과 기억의 공유로 한국 사회의 변화 방향을 제안하는 프로젝트
        .col-sm-4
          %a{:href => "campaigns/issuebattle"}
            = image_tag "campaigns/campaign-issuebattle.png", class: 'img-responsive'
          %h3.mg-sm.tc-outer-space
            %a{:href => "campaigns/issuebattle"}
              %u 정책배틀
            %br/
          %p.mg-lg
            사회적 의제를 놓고 전문가, 활동가, 정치인, 일반 시민들이 모여서 토론과 투표를 통해 해결책을 마련해 가는 참여형 의사결정 플랫폼 '타운홀'을 활용하여 오프라인에서 전문가가 제안하고 시민이 투표하는 '정책배틀' 캠페인.
        .col-sm-4
          %a{:href => "campaigns/votefuture1"}
            = image_tag "campaigns/campaign-votefuture1.png", class: 'img-responsive'
          %h3.mg-sm.tc-outer-space
            %a{:href => "campaigns/votefuture1"}
              %u 대한민국 아동이 제안하는 대선 공약 발표회
            %br/
          %p.mg-lg
            아동들이 직접 국회에 가서 그들이 제안하는 대선 공약을 발표한 캠페인.

      .row
        .col-sm-4
          %a{:href => "campaigns/innovators"}
            = image_tag "campaigns/campaign-inno.png", class: 'img-responsive'
          %h3.mg-sm.tc-outer-space
            %a{:href => "campaigns/innovators"}
              %u 당신은 혁신의 편입니까?
            %br/
          %p.mg-lg
            혁신가들의 제안으로 만드는 혁신정책 프로젝트
        .col-sm-4
          %a{:href => "campaigns/votefuture"}
            = image_tag "campaigns/campaign-votefuture.png", class: 'img-responsive'
          %h3.mg-sm.tc-outer-space
            %a{:href => "campaigns/votefuture"}
              %u 미래에서 온 투표
            %br/
          %p.mg-lg
            아동의 제안을 모아 아동정책을 제 19대 대선 후보에게 전달하는 정책 제안 프로젝트
        .col-sm-4
          %a{:href => "campaigns/hayago"}
            = image_tag "campaigns/campaign-hayago.png", class: 'img-responsive'
          %h3.mg-sm.tc-outer-space
            %a{:href => "campaigns/hayago"}
              %u 우주당: 하야GO
            %br/
          %p.mg-lg
            박근혜 대통령 탄핵 집회 참여 인증사진과 메시지를 공유하여 집회에 같이 참여한 참가자를 찾거나 장소에 구애받지 않고 온라인에서 함께할 수 있는 프로젝트

      .row
        .col-sm-4
          %a{:href => "campaigns/nongmo"}
            = image_tag "campaigns/campaign-nongmo.png", class: 'img-responsive'
          %h3.mg-sm.tc-outer-space
            %a{:href => "campaigns/nongmo"}
              %u GMO완전표시제 입법 청원 캠페인
            %br/
          %p.mg-lg
            보건복지위원회의 법안심사소위원회 위원장인 인재근 의원에게 전달한 17만여명의 GMO완전표시제 서명 캠페인
        .col-sm-4
          %a{:href => "campaigns/iknow"}
            = image_tag "campaigns/campaign-iknow.png", class: 'img-responsive'
          %h3.mg-sm.tc-outer-space
            %a{:href => "campaigns/iknow"}
              %u 나는 알아야겠당
            %br/
          %p.mg-lg
            바글시민와글입법 3차까지의 진행을 이어 법안 심사 통과 압박 액션까지, 총 800여명의 당원이 뭉친 국내 최초의 프로젝트 정당
        .col-sm-4
          %a{:href => "campaigns/iknow3"}
            = image_tag "campaigns/campaign-iknow3.png", class: 'img-responsive'
          %h3.mg-md.tc-outer-space
            %a{:href => "campaigns/iknow3"}
              %u 바글시민와글입법(3) 전문가 쟁점토론, 당원 투표
            %br/
          %p.mg-lg
            프로젝트 정당 ‘나는 알아야겠당'에서 발의할 입법안 ‘GMO 완전표시제’에 대한 전문가 쟁점 토론과 시민 투표를 진행한 프로젝트

      .row
        .col-sm-4
          %a{:href => "campaigns/iknow2"}
            = image_tag "campaigns/campaign-iknow2.png", class: 'img-responsive'
          %h3.mg-md.tc-outer-space
            %a{:href => "campaigns/iknow2"}
              %u 바글시민와글입법(2) 정당 이름 투표, 당원 모집
            %br/
          %p.mg-lg
            바글와글 1차 쟁점법안 투표에서 4개 법안 중 5470개의 표를 받은 GMO 완전표시제 입법을 위한 원이슈 프로젝트 정당 만들기
        .col-sm-4
          %a{:href => "campaigns/iknow1"}
            = image_tag "campaigns/campaign-iknow1.png", class: 'img-responsive'
          %h3.mg-sm.tc-outer-space
            %a{:href => "campaigns/iknow1"}
              %u 바글시민와글입법(1) 입법안 채택
            %br/
          %p.mg-lg
            2016년 입법 진행과정을 추적할 쟁점 법안 4가지 중 입법할 안을 시민이 투표하여 결정한 프로젝트
        .col-sm-4
          %a{:href => "campaigns/toktok"}
            = image_tag "campaigns/campaign-toktok.png", class: 'img-responsive'
          %h3.mg-sm.tc-outer-space
            %a{:href => "campaigns/toktok"}
              %u 국회톡톡
            %br/
          %p.mg-lg
            시민이 직접 입법 제안하고, 천명의 지지를 받으면 입법안을 의원에게 전달하는 시민입법플랫폼
      .row
        .col-sm-4
          %a{:href => "campaigns/yourvote"}
            = image_tag "campaigns/campaign-yourvote.png", class: 'img-responsive'
          %h3.mg-sm.tc-outer-space
            %a{:href => "campaigns/yourvote"}
              %u 당신의 투표를 예측해 드립니다
            %br/
          %p.mg-lg
            사전에 전국 유권자 1500명에게 물어, 최적화된 7개 문항만을 뽑아 구성한 예측모델로 응답자의 투표 결과를 예측한 프로젝트
        .col-sm-4
          %a{:href => "campaigns/letter"}
            = image_tag "campaigns/campaign-letter.png", class: 'img-responsive'
          %h3.mg-sm.tc-outer-space
            %a{:href => "campaigns/letter"}
              %u 국회의장에게 보내는 편지
            %br/
          %p.mg-lg
            테러방지법 본회의 의결을 막기 위한 야권의 필리버스터가 일주일 째 이어지던 당시 테러방지법에 대한 시민의 의견을 모은 프로젝트

#bloc-48.bloc.tc-white.bloc-bg-texture.texture-darken.bgc-white.compaign-footer{style: "background-image: url(#{asset_url('campaigns/campaign-footer.png')});"}
  .container.bloc-md
    .row
      .col-sm-12
        %h2.mg-md.device-bloc-text.tc-white
          We develop
          %span democracy
        %p.mg-lg.device-bloc-text-p
          빠띠의 캠페인 비하인드 스토리를
          %br.visible-xs
          블로그에서 만나보세요.
        .button-wrapper
          %a.btn.btn-wire.btn-lg.device-bloc-button.btn-sq.wire-btn-white{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"}
            자세한 캠페인 이야기 보기
            %br/
