%a{class: 'anchor', id: 'anchor-collaboration'}

#bloc-52.bloc.bgc-white.l-bloc
  .container.bloc-sm
    .row.voffset
      .col-xs-12.col-md-8.col-md-offset-2
        %h3.statement-bloc-text.tc-outer-space
          %span
            %strong 협업

#bloc-53.bloc.bgc-white.l-bloc
  .container.bloc-lg
    .row
      .col-sm-2
        = image_tag "collabo-hani21.png", class: 'img-responsive center-block mg-md'
      .col-sm-2
        = image_tag "collabo-wagl.png", class: 'img-responsive center-block mg-md'
      .col-sm-2
        = image_tag "collabo-icoop.png", class: 'img-responsive center-block mg-md'
      .col-sm-2
        = image_tag "collabo-green-umbrella.png", class: 'img-responsive center-block mg-md'
      .col-sm-2
        = image_tag "collabo-people-power.png", class: 'img-responsive center-block mg-md'
