#page-main
  .slogan
    .main-container
      %img{ src: "#{asset_url('parti_ci_black.png')}"}
      .slogan-korean-text
        민주적인 삶과 문화를 만듭니다
  .mission
    .main-container
      .title.light
        빠띠는 디지털 기술을 이용해 세상을 더 민주적으로 만듭니다.
      .subtitle2.regular.mg-sm
        디지털 기술이 새로운 시대를 열고 있습니다. 빠띠는 작은 커뮤니티에서 시민들의 정치참여까지 민주주의의 확산을 위해 노력하고 있습니다.
  .who-we-are
    .photo.hidden-sm
    .description
      .title.light
        민주주의 활동가 그룹, 빠띠
      .subtitle2.regular
        빠띠는 시민들이 누구나 접근할 수 있는 가이드, 커뮤니티 그리고 IT 플랫폼을 만들어 민주주의를 확산시킵니다.

  .platforms
    .main-container
      .subtitle.medium
        Platforms
      .platforms-text.maintext.mg-sm
        빠띠는 당신의 삶을 더 민주적으로 만들기 위해 필요한 플랫폼과 사용 가이드를 만듭니다.
      .owl-carousel.owl-theme.slide
        .card
          .platform-name.medium
            빠띠.xyz
          .image
            %img.hidden-xs{ src: "#{asset_url('platforms/parti.png')}"}
            %img.visible-xs{ src: "#{asset_url('platforms/parti-mobile.png')}"}
          .description
            .maintext
              팀과 커뮤니티를 위한 민주주의 플랫폼
          .download
            %button.box
              %a{href: "https://itunes.apple.com/kr/app/%EB%B9%A0%EB%9D%A0/id1362474504?mt=8", target: "_blank"}
                %img{ src: "#{asset_url('icon/apple.png')}"}
                .market-text.hidden-sm.hidden-xs
                  App Store
            %button.box
              %a{href: "https://play.google.com/store/apps/details?id=xyz.parti.catan", target: "_blank"}
                %img{ src: "#{asset_url('icon/google-play.png')}"}
                .market-text.hidden-sm.hidden-xs
                  Google Play
            %button.btn
              %a.link.btn-english{href:"https://parti.xyz", target: "_blank" }
                Web
        .card
          .platform-name.bold.bold.bold.bold
            빠띠 가브크래프트
          .image
            %img.hidden-xs{ src: "#{asset_url('platforms/govcraft.png')}"}
            %img.visible-xs{ src: "#{asset_url('platforms/govcraft-mobile.png')}"}
          .description
            .maintext
              시민들의 일상 정치 플랫폼
          .download.fill
            %button.btn.fill
              %a.link.btn-english.fill{href:"https://govcraft.org", target: "_blank" }
                Web
        .card
          .platform-name.bold.bold.bold
            빠띠 타운홀
          .image
            %img.hidden-xs{ src: "#{asset_url('platforms/townhall.png')}"}
            %img.visible-xs{ src: "#{asset_url('platforms/townhall-mobile.png')}"}
          .description
            .maintext
              쉽고 재미있는 민주적 의사결정 플랫폼
          .download.fill
            %button.btn.fill
              %a.link.btn-english.fill{href:"http://townhall.kr", target: "_blank" }
                Web
        .card
          .platform-name.bold.bold
            민주주의 서울
          .image
            %img.hidden-xs{ src: "#{asset_url('platforms/democracy-seoul.png')}"}
            %img.visible-xs{ src: "#{asset_url('platforms/democracy-seoul-mobile.png')}"}
          .description
            .maintext
              ‘서울의 공론장’ 시민의 제안에 50명이 모이면 부서가 답변, 500명이 모이면, 5000명이 모이면 시장이 답변합니다. 민주주의 서울 공론장을 다른 지자체에서 쓸수 있게 오픈소스 프로젝트를 진행하고 있습니다.
          .download.fill
            %button.btn.fill
              %a.link.btn-english.fill{href:"https://democracy.seoul.go.kr/", target: "_blank" }
                Web
        .card.visible-sm-card
          .platform-name.bold

  .contents
    .main-container
      .subtitle.medium
        빠띠 민주주의 툴킷
      .maintext.mg-sm
        빠띠의 플랫폼을 손쉽게 활용할 수 있도록 가이드를 공유합니다. 저희의 가이드는 오픈소스로 누구나 해당 조직, 커뮤니티에 적용할 수 있습니다. 더불어 빠띠의 민주주의 활동 내역을 살필 수 있습니다.
      .row.line
        .col-sm-6
          %a.box{href:"https://parti.xyz/p/demos-guide/wikis", target: "_blank" }
            민주주의 가이드
        .col-sm-6
          %a.box{href:"https://medium.com/parti-xyz-developers", target: "_blank" }
            블로그
  .movement
    .main-container
      .subtitle.medium
        Our actions and aims
      .maintext.mg-sm
        온오프라인에서 여론을 모으고, 제도 개선을 촉구, 새롭고 재밌는 정치 참여를 만듭니다.
        %br.visible-xs
        %a.span.bold{href: campaigns_path}
          더 보기 >
      .photo
        .row
          .col-sm-4
            %a{ href: root_url + "campaigns/toktok"}
              .card{style: "background-image: url(#{asset_url('actions/1.png')})" }
            .caption.regular
              사진 / 한겨레
          .col-sm-4
            %a{ href: root_url + "campaigns/votefuture1"}
              .card{style: "background-image: url(#{asset_url('actions/2.png')})" }
          .col-sm-4
            %a{ href: "http://wouldyouparty.govcraft.org/petitions/54", target: "_blank"}
              .card{style: "background-image: url(#{asset_url('actions/3.png')})" }
        .row.hidden-xs
          .col-sm-4
            %a{ href: root_url + "campaigns/iknow"}
              .card{ style: "background-image: url(#{asset_url('actions/4.png')})" }
            .caption.regular
              사진 / 한겨레
          .col-sm-4
            %a{ href: root_url + "campaigns/toktok"}
              .card{ style: "background-image: url(#{asset_url('actions/5.png')})" }
          .col-sm-4
            %a{ href: root_url + "campaigns/issuebattle"}
              .card{style: "background-image: url(#{asset_url('actions/6.png')})" }
            .caption.regular
              사진 / 한겨레
  .be-with-us
    .main-container
      .title.light
        친구에게 알리기
      .maintext.mg-sm
        빠띠의 활동을 지지한다면 친구들에게 빠띠의 활동을 소개해주세요.
      %button.clap{'data-toggle': "modal", 'data-target': "#clap-modal"}
        .clap-image
    #clap-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
            .subtitle.medium.email-guide
              나는 빠띠를 응원해요!
            .sns
              .box
                =social_share_button_tag("I support @PartiUnion", :allow_sites => %w(facebook), url: request.original_url, desc: '더 민주적인 세상, 빠띠 !')
              .box
                =social_share_button_tag("나는  @parti_xyz 를 응원해요!", :allow_sites => %w(twitter), url: 'http://partiunion.org/en')
              .box
                .btn.js-clipboard{ ' data-clipboard-text': "#{root_url}en", 'data-toggle': 'tooltip', 'data-title': 'Copied!' }
                  %img{ src: "#{asset_url('contact/link.png')}"}

  .contact
    .text
      .subtitle.medium
        연락하기
      .maintext
        빠띠의 활동이 궁금하시거나 함께하고 싶으시면
        %br.hidden-sm
        언제든지 연락 주세요!
    .sns
      %a.box{href: "https://www.facebook.com/PartiUnion/", target: "_blank"}
        %img{ src: "#{asset_url('contact/facebook.png')}"}
      %a.box{href: "https://twitter.com/parti_xyz", target: "_blank"}
        %img{ src: "#{asset_url('contact/twitter.png')}"}
      %a.box{href: "https://github.com/parti-xyz", target: "_blank"}
        %img{ src: "#{asset_url('contact/github.png')}"}
      %a.box{href: "mailto:help@parti.xyz"}
        %img{ src: "#{asset_url('contact/email.png')}"}
    .newsletter
      뉴스레터
    %button.subscribe{class: 'newsletter', 'data-toggle': "modal", 'data-target': "#subscribe-email-modal"}
      구독하기
    #subscribe-email-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
            %form{:action => stibee_path, :method => "POST"}
              = hidden_field_tag :authenticity_token, form_authenticity_token
              .subtitle.email-guide
                구독해 주셔서 감사합니다!
              .email-input
                %label{:for => "email"} Email
                %input#email{:name => "email", :type => "email", class: 'form-control'}/
                %button.btn.btn-english{:type => "submit"} 구독하기
