#page-main
  .bloc.bloc-bg-texture.texture-darken.tc-anti-flash-white.bgc-white.about-slogan{ style: "background-image: url(#{asset_url('about-slogan-background.jpg')})" }
    .container.bloc-md
      .row
        .col-sm-10.col-sm-offset-1
          %h1.mg-md.text.tc-white
            일상을 더
            %br.visible-xs
            %span
              민주적으로
            %br.visible-xs
          %h5.mg-lg.device-bloc-text-p
            Platforms for Democratic Life and Culture
            %br
            민주적인 삶과 문화를 만듭니다.
          .button-wrapper
            %button{class: 'btn btn-wire btn-lg device-bloc-button btn-sq wire-btn-white', 'data-toggle': "modal", 'data-target': "#subscribe-email-modal"} 빠띠 민주주의 리포트 구독하기
    #subscribe-email-modal.modal.fade{:class => "#{@subscribe}", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
            %form{:action => "https://stibee.com/api/v1.0/lists/SZBNbO-_brk8tbU-Xf-LI30WjGA=/public/subscribers", :method => "POST"}
              %h5.email-guide
                빠띠의 민주주의 리포트를
                %br.visible-xs
                매월 여러분의 메일함에서 받아보세요.
              .email-input
                %label{:for => "email"} 이메일 주소
                %input#email{:name => "email", :type => "email", class: 'form-control'}/
              %button{class: 'btn btn-wire btn-lg device-bloc-button btn-sq', :type => "submit"} 구독신청
  .bloc.bgc-white.l-bloc
    .container.bloc-md
      .row
        .col-xs-12.col-md-10.col-md-offset-1
          %h4.text-center.mg-clear.tc-outer-space
            %span 미션
          %p.mg-md.text-center
            .row
              .col-xs-12.col-md-4.text-center
                = image_tag "mission1.png", class: 'mission-img'
                %br
                일상 속에서 개인이 자신의
                %br
                목소리를 낼 수 있는
                %br
                %h5
                  공간을 만듭니다.
              .col-xs-12.col-md-4.text-center
                = image_tag "mission2.png", class: 'mission-img'
                %br
                시민 개인의 목소리를 모으고,
                %br
                이를 지지하는 사람들을
                %h5
                  연결합니다.
              .col-xs-12.col-md-4.text-center
                = image_tag "mission3.png", class: 'mission-img'
                %br
                연결된 사람들이 변화를 위해
                %br
                문제를 함께 해결할 수 있는
                %br
                %h5
                  도구를 제공합니다.
  .content-line
  .bloc.bgc-white.l-bloc
    .container.bloc-md
      .row
        .col-xs-12
          %h4.text-center.mg-clear.tc-outer-space
            %span 빠띠 스타일
          %p.mg-md.text-center
            .row.parti-style
              .col-xs-12.col-md-4
                %h5
                  1. 일상적으로
                .parti-style-text
                  거대 담론에 가려진 일상을 더 드러내고,
                  %br
                  일상의 문제에 초점을 둡니다. 삶, 그리고 개인과 떨어져있지 않은 해결책을 고민합니다.
                  %br
                  언제 어디서나 이야기하고 참여할 수 있는
                  %br
                  일상적인 도구를 만듭니다.
              .col-xs-12.col-md-4
                %h5
                  2. 느슨하게 연결된
                .parti-style-text
                  능동적이고 독립적인 개인이 느슨하게 연결되어
                  %br
                  만드는 힘을 긍정합니다.
                  %br
                  다양한 관심사를 존중하고, 다양성이 인정받는
                  %br
                  건강한 토양을 만들어 나갑니다.
              .col-xs-12.col-md-4
                %h5
                  3. 기술을 활용한
                .parti-style-text
                  기술이 만들어 낸 가능성을 긍정적으로 보고
                  %br
                  기술의 공공성에 대한 담론을 만듭니다.
                  %br
                  기술을 가지고 더 나은 민주주의 문화를
                  %br
                  구현하기 위한 시스템을 만듭니다.
            .row.parti-style
              .col-xs-10.col-md-4
                %h5
                  4. 섬세하게
                .parti-style-text
                  소수의 의견도 무시되지 않는 의사결정 과정을 설계합니다.
                  모든 과정은 투명하고 꼼꼼하게 기록됩니다.
              .col-xs-12.col-md-4
                %h5
                  5. 빠띠 속도로(실험적인)
                .parti-style-text
                  빠띠가 가진 고유한 보폭을 유지하며 일합니다.
                  %br
                  완벽한 과정을 미리 설계하기 보다는
                  %br.visible-xs
                  작은 실험을 통해 점진적으로 과정을 만들어 나갑니다.
              .col-xs-12.col-md-4
                %h5
                  6. 차별 없는
                .parti-style-text
                  빠띠에서는 성적지향 · 성별정체성 · 성별표현을
                  %br
                  이유로 한 차별을 금지합니다.
  #anchor-it-platform.bloc.bgc-anti-flash-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span IT 플랫폼
          %p.mg-sm.text-center.text
            사회의 각 영역에서 필요한 민주주의 플랫폼을 만들고
            %br
            각 플랫폼을 적절히 사용하기 위한 가이드를 함께 개발하고 있습니다.
          .platform{ style: "background-image: url(#{asset_url('platform-parti.jpg')})" }
            = link_to "platforms/parti" do
              .box
                .text
                  %strong<>빠띠
                  %br
                  %strong<>팀과 커뮤니티를 위한 민주주의 플랫폼
          .platform{ style: "background-image: url(#{asset_url('platform-govcraft.png')})" }
            = link_to "platforms/govcraft" do
              .box
                .text
                  %strong<>가브크래프트
                  %br
                  %strong<>참여형 캠페인을 위한 플랫폼
          .platform{ style: "background-image: url(#{asset_url('platform-townhall.png')})" }
            %a{:href => "http://townhall.parti.do/", :target => "_blank"}
              .box
                .text
                  %strong<>타운홀
                  %br
                  %strong<>실시간 토론을 위한 플랫폼
  #anchor-campagin.bloc.bgc-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 캠페인
          %p.mg-sm.text-center
            시민들의 목소리를 모으고 발화하게 하는 Voice,
            %br
            모인 의견으로 숙의할 수 있는 Deliberation,
            %br
            여론을 모으고 제도 개선을 이루는 Action,
            %br
            새로운 정치 실험 Lab,
            %br
            이 4가지 성격의 캠페인을 제안하고 시도하고 있습니다
          .row
            .col-xs-12.col-md-6
              %a{:href => "http://sewolarchive.org/", :target => "_blank"}
                .campaign{ style: "background-image: url(#{asset_url('campaigns/campaign-sewol.png')})" }
                .campaign-text
                  %strong<>세월호 아카이브
                  %br
                  세월호 참사의 기록에 시민과 연구자가 자유롭게 접근하고, 기록과 기억의 공유로 한국사회의 변화 방향을 제안하는 프로젝트
            .col-xs-12.col-md-6
              %a{:href => "campaigns/iknow"}
                .campaign{ style: "background-image: url(#{asset_url('campaigns/campaign-iknow.png')})" }
                .campaign-text
                  %strong<>나는 알아야겠당
                  %br
                  바글시민와글입법 3차까지의 진행을 이어 법안 심사 통과 압박 액션까지, 총 800여명의 당원이 뭉친 국내 최초의 프로젝트 정당
          .row
            .col-xs-12.col-md-6
              %a{:href => "campaigns/votefuture"}
                .campaign{ style: "background-image: url(#{asset_url('campaigns/campaign-votefuture.png')})" }
                .campaign-text
                  %strong<>미래에서 온 투표
                  %br
                  아동의 제안을 모아 아동정책을 제 19대 대선 후보에게 전달하는 정책 제안 프로젝트
            .col-xs-12.col-md-6
              %a{:href => "http://govcraft.org/p/HIM", :target => "_blank"}
                .campaign{ style: "background-image: url(#{asset_url('campaigns/campaign-young-law.png')})" }
                .campaign-text
                  %strong<>"#피해자를_피해자로 아청법 개정을 촉구합니다"
                  %br
                  성매수 피해 십대 여성을 보호를 위한 프로젝트
          .more-campaign-box
            %p.text-center.more-campaign-text
              = link_to "campaign" do
                캠페인 더 보기

  #anchor-guide.bloc.bgc-anti-flash-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 컨텐츠
          %p.mg-sm.text-center.text
            조직, 커뮤니티 등에서 빠띠의 플랫폼을 활용하거나
            %br
            일상 속 민주주의 문화를 개선시킬 수 있는 가이드를 개발하고 있습니다.
        .col-xs-12.col-md-6
          .contents-box
            %p.text-center.contents-text
              %a{:href => "https://parti.xyz/p/demos-guide", :target => "_blank"}
                %strong<>가이드
        .col-xs-12.col-md-6
          .contents-box
            %p.text-center.contents-text
              %a{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"}
                %strong<>블로그
  #bloc-48.bloc.tc-white.bloc-bg-texture.texture-darken.bgc-white{style: "background-image: url(#{asset_url('campaigns/campaign-footer.png')});"}
    .container.bloc-md.contents-magazine
      .row
        .col-sm-12
          %h4.mg-md.text-center
            민주주의 리포트
          %p.text-center
            빠띠 소식을 한 달에 한 번 이메일로 보내드립니다.
            %br
            빠띠의 캠페인, 커뮤니티, 팀원들의 이야기가 궁금하신 분은 구독해주세요.
        .col-xs-12.col-sm-2
          .button-wrapper
            %a{:href => "https://stibee.com/api/v1.0/emails/share/R8ERZk_eQSqZU_ayafsVZV4Up9m_", :target => "_blank"}
              .magazine{ style: "background-image: url(#{asset_url('contents/march.png')})" }
        .col-xs-12.col-sm-4
          %h5.report-title
            %a{:href => "https://stibee.com/api/v1.0/emails/share/R8ERZk_eQSqZU_ayafsVZV4Up9m_", :target => "_blank"}
              %u 3월 민주주의 리포트
          .report-content
            \#빠띠_회고 #여성의날_굳즈 #쓰레기덕질_프로젝트
        .col-xs-12.col-sm-2
          .button-wrapper
            %a{:href => "https://stibee.com/api/v1.0/emails/share/bJgOqkuRCBBjYiK3ZqRqEmB8z7xU", :target => "_blank"}
              .magazine{ style: "background-image: url(#{asset_url('contents/new-app.png')})" }
        .col-xs-12.col-sm-4
          %h5.report-title
            %u
              %a{:href => "https://stibee.com/api/v1.0/emails/share/bJgOqkuRCBBjYiK3ZqRqEmB8z7xU", :target => "_blank"} 4월 민주주의 리포트
          .report-content
            \#기술_리터러시 #앱으로_빠띠 #세월호_아카이브 #금요일엔_빠띠_실험실 #홈페이지_새단장
      .row
        .col-xs-12.col-sm-2
          .button-wrapper
            %a{:href => "https://stibee.com/api/v1.0/emails/share/dtjE9FkV2GaOBg-oYSVQNfTYJkcA", :target => "_blank"}
              .magazine{ style: "background-image: url(#{asset_url('contents/may.png')})" }
        .col-xs-12.col-sm-4
          %h5.report-title
            %a{:href => "https://stibee.com/api/v1.0/emails/share/dtjE9FkV2GaOBg-oYSVQNfTYJkcA", :target => "_blank"}
              %u 5월 민주주의 리포트
          .report-content
            \#근로보다_노동 #독립러의_노동절 #사무실에서_일이_안되는_이유 #다같이_만드는_기고_계약서
        .col-xs-12.col-sm-2
          .button-wrapper
            = link_to '/contents' do
              .magazine{ style: "background-image: url(#{asset_url('contents/april.jpg')})" }
        .col-xs-12.col-sm-4
          %h5.report-title
            = link_to '/contents' do
              %u
                더 보기...

      .row
        .col-xs-12.col-md-8.col-md-offset-2.text-center
          .button-wrapper
            %button.btn.btn-wire.btn-lg.btn-sq.wire-btn-white.device-bloc-button{'data-toggle': "modal", 'data-target': "#subscribe-email-modal"}
              구독하기
  #anchor-team.bloc.bgc-white.l-bloc.team-container
    .container.bloc-md
      .row
        .col-sm-12
          %h4.text-center.mg-md.tc-outer-space
            빠띠팀
          %p.text-center
            빠띠는 다양한 영역에서 활동하고 있는
            %br.visible-xs
            민주주의 활동가들과 함께하고 있습니다.
      - @team.shuffle.each_slice(2) do |members|
        .row.team-member-container.mg-sm
          - members.each do |member|
            .team-member
              .col-sm-2
                = image_tag "#{member.profile}", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
              .col-sm-4
                %h5.blocs-team-header
                  #{member.name}
                %p.blocs-team-details
                  #{member.description}
                .socail-account
                  - if member.twitter
                    %a{:href => "#{member.twitter}", :target => "_blank"}
                      %span.fa.fa-twitter.icon-sm
                  - if member.facebook
                    %a{:href => "#{member.facebook}", :target => "_blank"}
                      %span.fa.fa-facebook.icon-sm
                  - if member.instagram
                    %a{:href => "#{member.instagram}", :target => "_blank"}
                      %span.fa.fa-instagram.icon-sm
                  - if member.github
                    %a{:href => "#{member.github}", :target => "_blank"}
                      %span.fa.fa-github.icon-sm
                  - if member.blog
                    %a{:href => "#{member.blog}", :target => "_blank"}
                      %span.fa.fa-home.icon-sm
                  - if member.steemit
                    %a{:href => "#{member.steemit}", :target => "_blank"}
                      = image_tag "steemit.png", class: 'steemit'

  .bloc.bgc-anti-flash-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 소개 자료
          .introduce-box
            %p.text-center.introduce-text
              %strong<>빠띠 소개 자료&nbsp;
              %span.fa.fa-download
          .introduce-box
            %a{:href => "https://union.parti.xyz/file_source/2866/download"}
              %p.text-center.introduce-text
                %strong<>리플렛&nbsp;
                %span.fa.fa-download
          .introduce-box
            %a{:href => "https://drive.google.com/file/d/1qeWDwjoOZqHQL48ksGmHmlBdwJ4q4uFb/view?usp=sharing"}
              %p.text-center.introduce-text
                %strong<>로고&nbsp;
                %span.fa.fa-download

  #bloc-48.bloc.tc-white.bloc-bg-texture.texture-darken.bgc-white{style: "background-image: url(#{asset_url('news.jpg')});"}
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span.article-title 기사 및 보도자료
          %p.mg-md.text-center
            언론에 소개된 빠띠 소식을 공유합니다
          .article-box
            %a{:href => "http://news.joins.com/article/21494433", :target => "_blank"}
              [TONG] “개발자=코딩? 아니죠~ 컴퓨터와 사람 사이 통역합니다”
              .row
                .col-xs-6
                  2017-04-19
                .col-xs-6.text-right
                  출처 : 중앙일보
          .article-box
            %a{:href => "http://www.ohmynews.com/NWS_Web/View/at_pg.aspx?CNTN_CD=A0002313223", :target => "_blank"}
              온라인으로 대통령 탄핵하는 세상, 올까?
              %br
              [인터뷰] 인터넷이 아닌 민주주의를 개발합니다, 권오현 빠흐띠 대표
              %br
              .row
                .col-xs-6
                  2017-04-05
                .col-xs-6.text-right
                  출처 : 오마이뉴스
          .article-box.last
            %a{:href => "http://m.etnews.com/20161213000311?obj=Tzo4OiJzdGRDbGFzcyI6Mjp7czo3OiJyZWZlcmVyIjtOO3M6NzoiZm9yd2FyZCI7czoxMzoid2ViIHRvIG1vYmlsZSI7fQ%3D%3D", :target => "_blank"}
              "온라인 공론장이 세상을 바꿀 수 있다" | 빠띠 인터뷰
              %br
              .row
                .col-xs-6
                  2016-06-30
                .col-xs-6.text-right
                  출처 : 전자신문
          .more-article-box.text-center
            %a{:href => "https://union.parti.xyz/p/partinews", :target => "_blank"}
              .more-article-text
                빠띠 관련 소식 더 보기

  .bloc.bgc-anti-flash-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h4.text-center.mg-clear.tc-outer-space
            %span 굿즈
          %p.mg-sm.text-center.text
            빠띠가 만든 굿즈와 스토리를 만나보세요.
            %br
            수익은 민주주의 캠페인의 활동비로 후원됩니다.
          .row
            - @products.take(4).each do |product|
              .col-xs-12.col-md-6
                = link_to "/products/#{product.slug}" do
                  .img-responsive{style: "background-image: url(#{asset_url('products/' + product.slug + '/primary.png')})"}
                  .campaign{ style: "background-image: url(#{asset_url('products/' + product.slug + '/primary.png')})" }
                  .campaign-text
                    %strong<>= product.title
          .more-campaign-box
            %p.text-center.more-campaign-text
              %a{:href => "products"}
                민주주의 굿즈 더 보기
