#page-main
  .slogan{style:"height: 100%;"}
    .main-container
      .slogan-korean-text
        = raw Maintext.where(lang:"kr").find_by(slug: "slogan_big").body
      .slogan-korean-text-small.mg-sm
        = raw Maintext.where(lang:"kr").find_by(slug: "slogan_small").body
  / .mission
  /   .main-container
  /     .title.light
  /       빠띠는 디지털 기술을 이용해 세상을 더 민주적으로 만듭니다.
  /     .subtitle2.regular.mg-sm
  /       디지털 기술이 새로운 시대를 열고 있습니다. 빠띠는 작은 커뮤니티에서 시민들의 정치참여까지 민주주의의 확산을 위해 노력하고 있습니다.
  .contents
    .main-container
      .subtitle.medium
        = raw Maintext.where(lang:"kr").find_by(slug: "toolkit_title").body
      .maintext.mg-sm
        = raw Maintext.where(lang:"kr").find_by(slug: "toolkit_body").body
      .row.line.mg-sm
        .col-sm-6
          .toolkit
            .book
              = image_tag 'parti_ci_black.png'
            .description
              .toolkit-title.medium
                = raw Maintext.where(lang:"kr").find_by(slug: "toolkit1_title").body
              .toolkit-text.regular.mg-sm
                = raw Maintext.where(lang:"kr").find_by(slug: "toolkit1_body").body
              .download
                %a{href:"https://parti.xyz/p/demos-guide/wikis", target: "_blank" }
                DOWNLOAD &nbsp;
                %i.fa.fa-download{"aria-hidden":true}
        .col-sm-6
          .toolkit
            .book{style:"background-color: #ffbc4e;"}
              = image_tag 'parti_ci_black.png'
            .description
              .toolkit-title.medium
                = raw Maintext.where(lang:"kr").find_by(slug: "toolkit2_title").body
              .toolkit-text.regular.mg-sm
                = raw Maintext.where(lang:"kr").find_by(slug: "toolkit2_body").body
              .download
                %a{href:"https://medium.com/parti-xyz-developers", target: "_blank" }
                DOWNLOAD &nbsp;
                %i.fa.fa-download{"aria-hidden":true}

  .platforms
    .main-container
      .subtitle.medium
        = raw Maintext.where(lang:"kr").find_by(slug: "platform_title").body
      .platforms-text.maintext.mg-sm
        = raw Maintext.where(lang:"kr").find_by(slug: "platform_body").body
      .owl-carousel.owl-theme.slide
        .card
          .platform-name.medium
            = raw Maintext.where(lang:"kr").find_by(slug: "platform1_title").body
          .image
            %img.hidden-xs{ src: "#{asset_url('platforms/parti.png')}"}
            %img.visible-xs{ src: "#{asset_url('platforms/parti-mobile.png')}"}
          .description
            .maintext
              = raw Maintext.where(lang:"kr").find_by(slug: "platform1_body").body
          .download
            %button.box
              %a{href: "https://itunes.apple.com/kr/app/%EB%B9%A0%EB%9D%A0/id1362474504?mt=8", target: "_blank"}
                %img{ src: "#{asset_url('icon/apple.png')}"}
                .market-text.hidden-sm.hidden-xs
                  App Store
            %button.box
              %a{href: "https://play.google.com/store/apps/details?id=xyz.parti.catan", target: "_blank"}
                %img{ src: "#{asset_url('icon/google-play.png')}"}
                .market-text.hidden-sm.hidden-xs
                  Google Play
            %button.btn
              %a.link.btn-english{href:"https://parti.xyz", target: "_blank" }
                Web
        .card
          .platform-name.bold.bold.bold.bold
            = raw Maintext.where(lang:"kr").find_by(slug: "platform2_title").body
          .image
            %img.hidden-xs{ src: "#{asset_url('platforms/govcraft.png')}"}
            %img.visible-xs{ src: "#{asset_url('platforms/govcraft-mobile.png')}"}
          .description
            .maintext
              = raw Maintext.where(lang:"kr").find_by(slug: "platform2_body").body
          .download.fill
            %button.btn.fill
              %a.link.btn-english.fill{href:"https://govcraft.org", target: "_blank" }
                Web
        .card
          .platform-name.bold.bold.bold
            = raw Maintext.where(lang:"kr").find_by(slug: "platform3_title").body
          .image
            %img.hidden-xs{ src: "#{asset_url('platforms/townhall.png')}"}
            %img.visible-xs{ src: "#{asset_url('platforms/townhall-mobile.png')}"}
          .description
            .maintext
              = raw Maintext.where(lang:"kr").find_by(slug: "platform3_body").body
          .download.fill
            %button.btn.fill
              %a.link.btn-english.fill{href:"http://townhall.kr", target: "_blank" }
                Web
        .card
          .platform-name.bold.bold
            = raw Maintext.where(lang:"kr").find_by(slug: "platform4_title").body
          .image
            %img.hidden-xs{ src: "#{asset_url('platforms/democracy-seoul.png')}"}
            %img.visible-xs{ src: "#{asset_url('platforms/democracy-seoul-mobile.png')}"}
          .description
            .maintext
              = raw Maintext.where(lang:"kr").find_by(slug: "platform4_body").body
          .download.fill
            %button.btn.fill
              %a.link.btn-english.fill{href:"https://democracy.seoul.go.kr/", target: "_blank" }
                Web
        .card.visible-sm-card
          .platform-name.bold

  .movement
    .main-container
      .subtitle.medium
        = raw Maintext.where(lang:"kr").find_by(slug: "actions_title").body
      .maintext.mg-sm
        = raw Maintext.where(lang:"kr").find_by(slug: "actions_body").body
        %br.visible-xs
        %a.span.bold{href: campaigns_path}
          더 보기 >
      .photo
        .row
          .col-sm-4
            %a{ href: root_url + "campaigns/toktok"}
              .card{style: "background-image: url(#{asset_url('actions/1.png')})" }
            .caption.regular
              사진 / 한겨레
          .col-sm-4
            %a{ href: root_url + "campaigns/votefuture1"}
              .card{style: "background-image: url(#{asset_url('actions/2.png')})" }
          .col-sm-4
            %a{ href: "http://wouldyouparty.govcraft.org/petitions/54", target: "_blank"}
              .card{style: "background-image: url(#{asset_url('actions/3.png')})" }
        .row.hidden-xs
          .col-sm-4
            %a{ href: root_url + "campaigns/iknow"}
              .card{ style: "background-image: url(#{asset_url('actions/4.png')})" }
            .caption.regular
              사진 / 한겨레
          .col-sm-4
            %a{ href: root_url + "campaigns/toktok"}
              .card{ style: "background-image: url(#{asset_url('actions/5.png')})" }
          .col-sm-4
            %a{ href: root_url + "campaigns/issuebattle"}
              .card{style: "background-image: url(#{asset_url('actions/6.png')})" }
            .caption.regular
              사진 / 한겨레
  .who-we-are
    .photo.hidden-sm
    .description
      .title.light
        민주주의 활동가 그룹, 빠띠
      .subtitle2.regular
        빠띠는 시민들이 누구나 접근할 수 있는 가이드, 커뮤니티 그리고 IT 플랫폼을 만들어 민주주의를 확산시킵니다.
  .team
    .main-container.team-container
      .col-sm-12
        .title.mg-md.tc-outer-space
          = raw Maintext.where(lang:"kr").find_by(slug: "member_title").body
        .subtitle2
          = raw Maintext.where(lang:"kr").find_by(slug: "member_body").body
      - @team.shuffle.each_slice(2) do |members|
        .row.team-member-container.mg-sm
          - members.each do |member|
            .team-member
              .col-sm-2
                = image_tag "#{member.profile}", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
              .col-sm-4
                %h5.blocs-team-header
                  #{member.name}
                %p.blocs-team-details
                  #{member.description}
                .social-account
                  - if member.twitter
                    %a{:href => "#{member.twitter}", :target => "_blank"}
                      %i.fa.fa-twitter.icon-sm
                  - if member.facebook
                    %a{:href => "#{member.facebook}", :target => "_blank"}
                      %i.fa.fa-facebook.icon-sm
                  - if member.instagram
                    %a{:href => "#{member.instagram}", :target => "_blank"}
                      %i.fa.fa-instagram.icon-sm
                  - if member.github
                    %a{:href => "#{member.github}", :target => "_blank"}
                      %i.fa.fa-github.icon-sm
                  - if member.blog
                    %a{:href => "#{member.blog}", :target => "_blank"}
                      %i.fa.fa-home.icon-sm
                  - if member.steemit
                    %a{:href => "#{member.steemit}", :target => "_blank"}
                      = image_tag "steemit.png", class: 'steemit'
  .be-with-us
    .main-container
      .title.light
        = raw Maintext.where(lang:"kr").find_by(slug: "support_title").body
      .maintext.mg-sm
        = raw Maintext.where(lang:"kr").find_by(slug: "support_body").body
      %button.clap{'data-toggle': "modal", 'data-target': "#clap-modal"}
        .clap-image
    #clap-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
            .subtitle.medium.email-guide
              = raw Maintext.where(lang:"kr").find_by(slug: "support_modal").body
            .sns
              .box
                =social_share_button_tag("I support @PartiUnion", :allow_sites => %w(facebook), url: request.original_url, desc: '더 민주적인 세상, 빠띠 !')
              .box
                =social_share_button_tag("나는  @parti_xyz 를 응원해요!", :allow_sites => %w(twitter), url: 'http://partiunion.org/en')
              .box
                .btn.js-clipboard{ ' data-clipboard-text': "#{root_url}en", 'data-toggle': 'tooltip', 'data-title': 'Copied!' }
                  %img{ src: "#{asset_url('contact/link.png')}"}

  .contact
    .text
      .subtitle.medium
        연락하기
      .maintext
        contact@parti.xyz
    .sns
      %a.box{href: "https://www.facebook.com/PartiUnion/", target: "_blank"}
        %img{ src: "#{asset_url('contact/facebook.png')}"}
      %a.box{href: "https://twitter.com/parti_xyz", target: "_blank"}
        %img{ src: "#{asset_url('contact/twitter.png')}"}
      %a.box{href: "https://github.com/parti-xyz", target: "_blank"}
        %img{ src: "#{asset_url('contact/github.png')}"}
      %a.box{href: "mailto:help@parti.xyz"}
        %img{ src: "#{asset_url('contact/email.png')}"}
    .newsletter
      뉴스레터
    .maintext
      = raw Maintext.where(lang:"kr").find_by(slug: "newsletter_body").body
    %button.subscribe{class: 'newsletter', 'data-toggle': "modal", 'data-target': "#subscribe-email-modal"}
      구독하기
    #subscribe-email-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
            %form{:action => stibee_path, :method => "POST"}
              = hidden_field_tag :authenticity_token, form_authenticity_token
              .subtitle.email-guide
                구독해 주셔서 감사합니다!
              .email-input
                %label{:for => "email"} Email
                %input#email{:name => "email", :type => "email", class: 'form-control'}/
                %button.btn.btn-english{:type => "submit"} 구독하기
