:scss
  #page-main {
    .slogan {
      .slogan-korean-text {
        color: white;
        text-align: center;
        font-family: "NotoSans-Light","Apple SD Gothic Neo","맑은 고딕","Malgun Gothic","나눔고딕",nanumgothic,sans-serif;
        font-weight: 400;

        @media (max-width: 768px) {
          font-size: 30px;
        }
      }
      .slogan-korean-text-small {
        font-weight: 400;
        color: white;
        text-align: center;
        font-family: "NotoSans-Light","Apple SD Gothic Neo","맑은 고딕","Malgun Gothic","나눔고딕",nanumgothic,sans-serif;

        font-size: 30px;
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
    }
    .toolkit .book {
      background-size: cover;
      background-position: center;
    }
    .who-we-are {
      margin-bottom: 25px;
      .description {
        margin-top: 0;
        .subtitle2.regular {
          font-weight: normal;
          font-family: "NotoSans-Light","Apple SD Gothic Neo","맑은 고딕","Malgun Gothic","나눔고딕",nanumgothic,sans-serif;
          font-size: 24px;
          @media (max-width: 768px) {
            font-size: 18px;
          }
        }
      }
    }
    .platforms .slide {
      margin-left: 0;
      width: initial;
      .card {
        position: relative;
        height: 400px;
        width: 100%;
        .description {
          position: absolute;
          bottom: 0;
          background: rgba(0, 0, 0, 0.4);
          width: 100%;
        }
        .image {
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 100%;
        }
        .maintext {
          color: white;
          font-size: 18px;
        }
        .download {
          position: static;
        }
      }

      .owl-nav {
        @media (max-width: 768px) {
          margin-top: 0;
        }
        .owl-prev {
          left: -30px;
        }
        .owl-next {
          right: -30px;
        }
        .owl-prev,
        .owl-next {
          width: 20px;
          color: #777;
          @media (max-width: 768px) {
            position: static;
            font-size: 24px;
          }
        }
      }
    }
  }
#page-main{ style: 'margin-top: -36px;'}
  .slogan{ style: 'padding: 0; display: table; width: 100%; position: relative; height: 100vh; ' }
    .main-container{ style: 'display: table-cell; vertical-align: middle; height: 700px;' }
      .slogan-korean-text
        %span
          디지털 시대를 살아가는 우리에게
          %br
          %span{ style: 'border-bottom: 2px solid white; display: inline-block; margin-bottom: 3px;'}<> 새로운 민주주의
          가 필요합니다
      .slogan-korean-text-small.mg-sm
        더 민주적인 세상, 빠띠

      %span{ style: 'position: absolute; bottom: 70px; left: 0; width: 100%; text-align: center; font-size: 30px; color: white;' }
        %i.fa.fa-chevron-down

  .who-we-are
    .photo.hidden-sm
    .description
      .title.light
        민주주의 활동가 그룹, 빠띠
      .subtitle2.regular
        우리는 더 나은 민주주의를 위한 툴킷과 플랫폼, 커뮤니티를 만들어
        %span.subtitle2.regular{ style: 'white-space: nowrap;' } 민주주의를 확산시킵니다.

  / .mission
  /   .main-container
  /     .title.light
  /       빠띠는 디지털 기술을 이용해 세상을 더 민주적으로 만듭니다.
  /     .subtitle2.regular.mg-sm
  /       디지털 기술이 새로운 시대를 열고 있습니다. 빠띠는 작은 커뮤니티에서 시민들의 정치참여까지 민주주의의 확산을 위해 노력하고 있습니다.
  .contents
    .main-container
      .subtitle.medium
        = raw Maintext.where(lang:"kr").find_by(slug: "toolkit_title").body
      .maintext.mg-sm
        = raw Maintext.where(lang:"kr").find_by(slug: "toolkit_body").body
      .row.line.mg-sm
        .col-sm-6
          .toolkit.cursor-pointer.js-parti-link{ 'data-url': 'https://www.beautiful.ai/deck/-LP-lfy3r2i0OL0AyoN4/' }
            .book{ style: "background-image: url(#{asset_url('toolkits/thumnail_toolkit1.png')});" }
            .description
              .toolkit-title.medium
                = raw Maintext.where(lang:"kr").find_by(slug: "toolkit1_title").body
              .toolkit-text.regular.mg-sm
                = raw Maintext.where(lang:"kr").find_by(slug: "toolkit1_body").body
              .download
                보기 &nbsp;
                %i.fa.fa-external-link{"aria-hidden":true}
        .col-sm-6
          .toolkit.cursor-pointer.js-parti-link{ 'data-url': 'https://www.beautiful.ai/deck/-LOGDznnYIQmwsDZf4wU/' }
            .book{ style: "background-image: url(#{asset_url('toolkits/thumnail_toolkit2.png')});" }
            .description
              .toolkit-title.medium
                = raw Maintext.where(lang:"kr").find_by(slug: "toolkit2_title").body
              .toolkit-text.regular.mg-sm
                = raw Maintext.where(lang:"kr").find_by(slug: "toolkit2_body").body
              .download
                보기 &nbsp;
                %i.fa.fa-external-link{"aria-hidden":true}

  .platforms
    .main-container
      .subtitle.medium
        = raw Maintext.where(lang:"kr").find_by(slug: "platform_title").body
      .platforms-text.maintext.mg-sm
        = raw Maintext.where(lang:"kr").find_by(slug: "platform_body").body
      .owl-carousel.owl-theme.slide
        .card
          .platform-name.medium
            = raw Maintext.where(lang:"kr").find_by(slug: "platform1_title").body
          .image.hidden-xs{ style: "background-image: url(#{asset_url('platforms/parti.png')});" }
          .image.visible-xs-block{ style: "background-image: url(#{asset_url('platforms/parti-mobile.png')});" }
          .description
            .maintext
              = raw Maintext.where(lang:"kr").find_by(slug: "platform1_body").body
            .download
              %button.box
                %a{href: "https://itunes.apple.com/kr/app/%EB%B9%A0%EB%9D%A0/id1362474504?mt=8", target: "_blank"}
                  %img{ src: "#{asset_url('icon/apple.png')}"}
                  .market-text.hidden-sm.hidden-xs
                    App Store
              %button.box
                %a{href: "https://play.google.com/store/apps/details?id=xyz.parti.catan", target: "_blank"}
                  %img{ src: "#{asset_url('icon/google-play.png')}"}
                  .market-text.hidden-sm.hidden-xs
                    Google Play
              %button.btn
                %a.link.btn-english{href:"https://parti.xyz", target: "_blank" }
                  Web
        .card
          .platform-name.bold.bold.bold.bold
            = raw Maintext.where(lang:"kr").find_by(slug: "platform2_title").body
          .image.hidden-xs{ style: "background-image: url(#{asset_url('platforms/govcraft.png')});" }
          .image.visible-xs{ style: "background-image: url(#{asset_url('platforms/govcraft-mobile.png')});" }
          .description
            .maintext
              = raw Maintext.where(lang:"kr").find_by(slug: "platform2_body").body
            .download.fill
              %button.btn.fill
                %a.link.btn-english.fill{href:"https://govcraft.org", target: "_blank" }
                  Web
        .card
          .platform-name.bold.bold.bold
            = raw Maintext.where(lang:"kr").find_by(slug: "platform3_title").body
          .image.hidden-xs{ style: "background-image: url(#{asset_url('platforms/townhall.png')});" }
          .image.visible-xs{ style: "background-image: url(#{asset_url('platforms/townhall-mobile.png')});" }
          .description
            .maintext
              = raw Maintext.where(lang:"kr").find_by(slug: "platform3_body").body
            .download.fill
              %button.btn.fill
                %a.link.btn-english.fill{href:"http://townhall.kr", target: "_blank" }
                  Web
        .card
          .platform-name.bold.bold
            = raw Maintext.where(lang:"kr").find_by(slug: "platform4_title").body
          .image.hidden-xs{ style: "background-image: url(#{asset_url('platforms/democracy-seoul.png')});" }
          .image.visible-xs{ style: "background-image: url(#{asset_url('platforms/democracy-seoul-mobile.png')});" }
          .description
            .maintext
              = raw Maintext.where(lang:"kr").find_by(slug: "platform4_body").body
            .download.fill
              %button.btn.fill
                %a.link.btn-english.fill{href:"https://democracy.seoul.go.kr/", target: "_blank" }
                  Web

  .movement
    .main-container
      .subtitle.medium
        = raw Maintext.where(lang:"kr").find_by(slug: "actions_title").body
      .maintext.mg-sm
        = raw Maintext.where(lang:"kr").find_by(slug: "actions_body").body
        %br.visible-xs
        %a.span.bold{href: campaigns_path}
          더 보기 >
      .photo
        .row
          .col-sm-4
            %a{ href: root_url + "campaigns/toktok"}
              .card{style: "background-image: url(#{asset_url('actions/1.png')})" }
            .caption.regular
              사진 / 한겨레
          .col-sm-4
            %a{ href: root_url + "campaigns/votefuture1"}
              .card{style: "background-image: url(#{asset_url('actions/2.png')})" }
          .col-sm-4
            %a{ href: "http://wouldyouparty.govcraft.org/petitions/54", target: "_blank"}
              .card{style: "background-image: url(#{asset_url('actions/3.png')})" }
        .row.hidden-xs
          .col-sm-4
            %a{ href: root_url + "campaigns/iknow"}
              .card{ style: "background-image: url(#{asset_url('actions/4.png')})" }
            .caption.regular
              사진 / 한겨레
          .col-sm-4
            %a{ href: root_url + "campaigns/toktok"}
              .card{ style: "background-image: url(#{asset_url('actions/5.png')})" }
          .col-sm-4
            %a{ href: root_url + "campaigns/issuebattle"}
              .card{style: "background-image: url(#{asset_url('actions/6.png')})" }
            .caption.regular
              사진 / 한겨레

  .team
    .main-container.team-container
      .subtitle.medium
        = raw Maintext.where(lang:"kr").find_by(slug: "member_title").body
      .maintext.mg-sm
        = raw Maintext.where(lang:"kr").find_by(slug: "member_body").body
      - @team.shuffle.each_slice(2) do |members|
        .row.team-member-container.mg-sm
          - members.each do |member|
            .col-sm-2.team-member
              = image_tag "#{member.profile}", class: 'img-circle center-block blocs-team-avatar img-frame-rd', style: 'width: 100%; height: 100%; margin-top: 15px;'
            .col-sm-4.team-member
              %h5.blocs-team-header
                #{member.name}
              %p.blocs-team-details
                #{member.description}
              .social-account
                - if member.twitter
                  %a{:href => "#{member.twitter}", :target => "_blank"}
                    %i.fa.fa-twitter.icon-sm
                - if member.facebook
                  %a{:href => "#{member.facebook}", :target => "_blank"}
                    %i.fa.fa-facebook.icon-sm
                - if member.instagram
                  %a{:href => "#{member.instagram}", :target => "_blank"}
                    %i.fa.fa-instagram.icon-sm
                - if member.github
                  %a{:href => "#{member.github}", :target => "_blank"}
                    %i.fa.fa-github.icon-sm
                - if member.blog
                  %a{:href => "#{member.blog}", :target => "_blank"}
                    %i.fa.fa-home.icon-sm
                - if member.steemit
                  %a{:href => "#{member.steemit}", :target => "_blank"}
                    = image_tag "steemit.png", class: 'steemit'
  .be-with-us
    .main-container
      .title.light
        = raw Maintext.where(lang:"kr").find_by(slug: "support_title").body
      .maintext.mg-sm
        = raw Maintext.where(lang:"kr").find_by(slug: "support_body").body
      %button.clap{'data-toggle': "modal", 'data-target': "#clap-modal"}
        .clap-image
    #clap-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
            .subtitle.medium.email-guide
              = raw Maintext.where(lang:"kr").find_by(slug: "support_modal").body
            .sns
              .box
                =social_share_button_tag("I support @PartiUnion", :allow_sites => %w(facebook), url: request.original_url, desc: '더 민주적인 세상, 빠띠 !')
              .box
                =social_share_button_tag("나는  @parti_xyz 를 응원해요!", :allow_sites => %w(twitter), url: 'http://partiunion.org/en')
              .box
                .btn.js-clipboard{ ' data-clipboard-text': "#{root_url}en", 'data-toggle': 'tooltip', 'data-title': 'Copied!' }
                  %img{ src: "#{asset_url('contact/link.png')}"}

  .contact
    .text
      .subtitle.medium
        연락하기
      .maintext
        contact@parti.xyz
    .sns
      %a.box{href: "https://www.facebook.com/PartiUnion/", target: "_blank"}
        %img{ src: "#{asset_url('contact/facebook.png')}"}
      %a.box{href: "https://twitter.com/parti_xyz", target: "_blank"}
        %img{ src: "#{asset_url('contact/twitter.png')}"}
      %a.box{href: "https://github.com/parti-xyz", target: "_blank"}
        %img{ src: "#{asset_url('contact/github.png')}"}
      %a.box{href: "mailto:help@parti.xyz"}
        %img{ src: "#{asset_url('contact/email.png')}"}
    .newsletter
      뉴스레터
    .maintext
      = raw Maintext.where(lang:"kr").find_by(slug: "newsletter_body").body
    %button.subscribe{class: 'newsletter', 'data-toggle': "modal", 'data-target': "#subscribe-email-modal"}
      구독하기
    #subscribe-email-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
            %form{:action => stibee_path, :method => "POST"}
              = hidden_field_tag :authenticity_token, form_authenticity_token
              .subtitle.email-guide
                구독해 주셔서 감사합니다!
              .email-input
                %label{:for => "email"} Email
                %input#email{:name => "email", :type => "email", class: 'form-control'}/
                %button.btn.btn-english{:type => "submit"} 구독하기
