%a{class: 'anchor', id: 'anchor-team'}

#bloc-51.bloc.bgc-anti-flash-white.l-bloc.team-container
  .container.bloc-md
    .row
      .col-sm-12
        %h2.text-center.mg-lg.tc-outer-space
          팀
    .row.team-member-container
      .team-member
        .col-sm-2
          = image_tag "team-picture-sis.png", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
        .col-sm-4
          %h3.blocs-team-header
            권오현
          %p.blocs-team-details
            세상이 모두에게 즐겁고 평화로운 곳이 되는데 기여하려고 잘 하든 못하든 상관없이 여러가지 일을 벌입니다.
          .socail-account
            %a{:href => "https://twitter.com/rest515", :target => "_blank"}
              %span.fa.fa-twitter.icon-sm
            %a{:href => "https://www.facebook.com/rest515", :target => "_blank"}
              %span.fa.fa-facebook.icon-sm
            %a{:href => "https://github.com/rest515", :target => "_blank"}
              %span.fa.fa-github.icon-sm
      .team-member
        .col-sm-2
          = image_tag "team-picture-dali.png", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
        .col-sm-4
          %h3.blocs-team-header
            김영민
          %p.blocs-team-details
            플랫폼 개발을 하고 있습니다. 삶에서 자급자립, 대안공동체를 고민하고 실천하고 있습니다.
          .socail-account
            %a{:href => "https://twitter.com/blue_spider", :target => "_blank"}
              %span.fa.fa-twitter.icon-sm
            %a{:href => "https://github.com/dalikim", :target => "_blank"}
              %span.fa.fa-github.icon-sm
    .row.team-member-container
      .team-member
        .col-sm-2
          = image_tag "team-picture-berry.jpg", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
        .col-sm-4
          %h3.blocs-team-header
            박은지
          %p.blocs-team-details
            디자인을 베이스로 캠페인를 기획하고 있습니다. 페미니즘, 여성이 겪는 가정폭력, 생활동반자법, 젠더이슈, 주거문제에 관심이 많습니다.
          .socail-account
            %a{:href => "https://twitter.com/berrytext140", :target => "_blank"}
              %span.fa.fa-twitter.icon-sm
            %a{:href => "https://www.facebook.com/rozyroom", :target => "_blank"}
              %span.fa.fa-facebook.icon-sm
            %a{:href => "http://oysterberry.tumblr.com/", :target => "_blank"}
              %span.fa.fa-home.icon-sm
      .team-member
        .col-sm-2
          = image_tag "team-picture-ssinkj.jpg", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
        .col-sm-4
          %h3.blocs-team-header
            정승구
          %p.blocs-team-details
            커뮤니티를 만드는 사람들을 돕고 있습니다. 세상을 긍정적으로 변화시키는 커뮤니티에 관심이 많습니다.
          .socail-account
            %a{:href => "https://medium.com/@seungkujung", :target => "_blank"}
              %span.fa.fa-medium.icon-sm
    .row.team-member-container
      .team-member
        .col-sm-2
          = image_tag "team-picture-ganguri.png", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
        .col-sm-4
          %h3.blocs-team-header
            조경숙
          %p.blocs-team-details
            개발을 하고 글을 씁니다. 모두가 더 나은 삶을 누리기 위한 작은 활동들에 관심이 많습니다.
          .socail-account
            %a{:href => "https://www.facebook.com/gangguri", :target => "_blank"}
              %span.fa.fa-facebook.icon-sm
            %a{:href => "https://github.com/kninami", :target => "_blank"}
              %span.fa.fa-github.icon-sm
      .team-member
        .col-sm-2
          = image_tag "team-picture-july.jpg", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
        .col-sm-4
          %h3.blocs-team-header
            홍진아
          %p.blocs-team-details
            스토리텔링과 캠페인 기획을 하고 있습니다. 나의 언어로 말하는 페미니즘, 우리 세대의 노동, 국가폭력이 야기하는 사회문제에 관심이 있습니다.
          .socail-account
            %a{:href => "https://www.facebook.com/mindrambler", :target => "_blank"}
              %span.fa.fa-facebook.icon-sm
    .row.team-member-container
      .team-member
        .col-sm-2
          = image_tag "team-picture-greenhair.jpg", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
        .col-sm-4
          %h3.blocs-team-header
            조이성화
          %p.blocs-team-details
            개발을 합니다. 페미니즘, 군인권, 학교에서의 민주주의에 관심이 있습니다. 혐오와 차별이 없는 세상이 되었으면 좋겠습니다.
          .socail-account
            %a{:href => "https://www.facebook.com/Martian.Lee", :target => "_blank"}
              %span.fa.fa-facebook.icon-sm
            %a{:href => "https://github.com/martianlee", :target => "_blank"}
              %span.fa.fa-github.icon-sm
            %a{:href => "https://brunch.co.kr/@martian", :target => "_blank"}
              %span.fa.fa-home.icon-sm
