:scss
  #page-main {
    .title,
    .subtitle {
      @media (max-width: 991px) {
        font-size: 24px;
      }
    }
    .slogan {
      .main-container {
        display: table-cell;
        vertical-align: middle;
        @media (min-width: 992px) {
          height: 700px;
        }
      }
      .slogan-korean-text,
      .slogan-korean-text span {
        color: white;
        text-align: center;
        font-family: "NotoSans-Regular","Apple SD Gothic Neo","맑은 고딕","Malgun Gothic","나눔고딕",nanumgothic,sans-serif;
        font-weight: 900;
        font-size: 48px;
        @media (max-width: 991px) {
          font-size: 32px;
        }
      }
      .slogan-korean-text-small {
        font-weight: 400;
        color: white;
        text-align: center;
        font-family: "NotoSans-Light","Apple SD Gothic Neo","맑은 고딕","Malgun Gothic","나눔고딕",nanumgothic,sans-serif;
        font-size: 28px;
        @media (max-width: 991px) {
          font-size: 20px;
        }
      }
    }
    .toolkit .book {
      background-size: cover;
      background-position: center;
    }
    .who-we-are {
      margin-bottom: 25px;
      .description {
        margin-top: 0;
        .subtitle2.regular {
          font-weight: normal;
          font-family: "NotoSans-Light","Apple SD Gothic Neo","맑은 고딕","Malgun Gothic","나눔고딕",nanumgothic,sans-serif;
          font-size: 24px;
          @media (max-width: 991px) {
            font-size: 18px;
          }
        }
      }
    }
    .platforms .slide {
      margin-left: 0;
      width: initial;
      .card {
        position: relative;
        height: 400px;
        width: 100%;
        .description {
          position: absolute;
          bottom: 0;
          background: rgba(0, 0, 0, 0.4);
          width: 100%;
        }
        .image {
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 100%;
        }
        .maintext {
          color: white;
          font-size: 18px;
        }
        .download {
          position: static;
        }
      }

      .owl-nav {
        @media (max-width: 991px) {
          margin-top: 0;
        }
        .owl-prev {
          left: -30px;
        }
        .owl-next {
          right: -30px;
        }
        .owl-prev,
        .owl-next {
          width: 20px;
          color: #777;
          @media (max-width: 991px) {
            position: static;
            font-size: 24px;
          }
        }
      }
    }
  }
#page-main{ style: 'margin-top: -36px;'}
  .slogan{ style: 'padding: 0; display: table; width: 100%; position: relative; height: 100vh; ' }
    .main-container
      .slogan-korean-text
        %span
          Parti Coop
      .slogan-korean-text-small.mg-sm
        Democracy More

      %span{ style: 'position: absolute; bottom: 70px; left: 0; width: 100%; text-align: center; font-size: 30px; color: white;' }
        %i.fa.fa-chevron-down
        #page-english
  .who-we-are
    .photo.hidden-sm
    .description
      .title.light
        We innovate democracy.
      .subtitle2.regular
        Parti Coop is a social cooperative established by a group of democracy activists in S. Korea. We provide toolkits, platforms and communities to spread democracy throughout every aspect of our society.

  .movement
    .main-container
      .subtitle.medium
        Our actions and aims
      .maintext.mg-sm
        We promote to set up democratic communication within workplaces and teams. We create open-source platforms which help citizens to get involved with issues that they care about.
        %br.visible-xs
        %a.span.bold{href: campaigns_path}
          Read more >
      .photo
        .row
          .col-sm-4
            %a{ href: root_url + "campaigns/toktok"}
              .card{style: "background-image: url(#{asset_url('actions/1.png')})" }
            .caption.regular
              사진 / 한겨레
          .col-sm-4
            %a{ href: root_url + "campaigns/votefuture1"}
              .card{style: "background-image: url(#{asset_url('actions/2.png')})" }
          .col-sm-4
            %a{ href: "http://wouldyouparty.govcraft.org/petitions/54", target: "_blank"}
              .card{style: "background-image: url(#{asset_url('actions/3.png')})" }
        .row.hidden-xs
          .col-sm-4
            %a{ href: root_url + "campaigns/iknow"}
              .card{ style: "background-image: url(#{asset_url('actions/4.png')})" }
            .caption.regular
              사진 / 한겨레
          .col-sm-4
            %a{ href: root_url + "campaigns/toktok"}
              .card{ style: "background-image: url(#{asset_url('actions/5.png')})" }
          .col-sm-4
            %a{ href: root_url + "campaigns/issuebattle"}
              .card{style: "background-image: url(#{asset_url('actions/6.png')})" }
            .caption.regular
              사진 / 한겨레
  .contents
    .main-container
      .subtitle.medium
        Parti Democracy Toolkits
      .maintext.mg-sm
        The toolkits give you practical step-by-step guidance on how to get involved and make changes in your world. Feel free to adapt them in any way you see fit.
      .row.line.mg-sm
        .col-sm-6
          .toolkit.cursor-pointer.js-parti-link{ 'data-url': toolkits_path(key: 1) }
            .book{ style: "background-image: url(#{asset_url('toolkits/thumbnail_toolkit1.png')});" }
            .description
              .toolkit-title.medium
                Toolkit for Lawmaking
              .toolkit-text.regular.mg-sm
              .download
                Link &nbsp;
                %i.fa.fa-external-link{"aria-hidden":true}
        .col-sm-6
          .toolkit.cursor-pointer.js-parti-link{ 'data-url': toolkits_path(key: 2) }
            .book{ style: "background-image: url(#{asset_url('toolkits/thumbnail_toolkit2.png')});" }
            .description
              .toolkit-title.medium
                Toolkit for Participatory Discussion
              .toolkit-text.regular.mg-sm
              .download
                Link &nbsp;
                %i.fa.fa-external-link{"aria-hidden":true}
  .platforms
    .main-container
      .subtitle.medium
        Platforms
      .platforms-text.maintext.mg-sm
        Parti Democracy Platforms to make your life more democratic.
      .owl-carousel.owl-theme.slide
        .card
          .platform-name.medium
            Parti.xyz
          .image.hidden-xs{ style: "background-image: url(#{asset_url('platforms/parti.png')});" }
          .image.visible-xs-block{ style: "background-image: url(#{asset_url('platforms/parti-mobile.png')});" }
          .description
            .maintext
              Parti Democracy Platforms:
              %br.visible-sm
              Democracy Platform for Teams and Communities: This is designed to make workplaces, organisations, and local communities. You can share your opinion, vote and discuss.
            .download
              %button.box
                %a{href: "https://itunes.apple.com/kr/app/%EB%B9%A0%EB%9D%A0/id1362474504?mt=8", target: "_blank"}
                  %img{ src: "#{asset_url('icon/apple.png')}"}
                  .market-text.hidden-sm.hidden-xs
                    App Store
              %button.box
                %a{href: "https://play.google.com/store/apps/details?id=xyz.parti.catan", target: "_blank"}
                  %img{ src: "#{asset_url('icon/google-play.png')}"}
                  .market-text.hidden-sm.hidden-xs
                    Google Play
              %button.btn
                %a.link.btn-english{href:"https://parti.xyz", target: "_blank" }
                  Web
        .card
          .platform-name.bold.bold.bold.bold
            Parti Govcraft
          .image.hidden-xs{ style: "background-image: url(#{asset_url('platforms/govcraft.png')});" }
          .image.visible-xs{ style: "background-image: url(#{asset_url('platforms/govcraft-mobile.png')});" }
          .description
            .maintext
              The everyday political platform for citizens who want to change the world:
              %br.visible-sm
              People speak about and act on issues which they feel passionate about: petitions, mailing, archives or bulletin boards. Anyone can easily open and participate in campaigns.
            .download.fill
              %button.btn.fill
                %a.link.btn-english.fill{href:"https://govcraft.org", target: "_blank" }
                  Web
        .card
          .platform-name.bold.bold.bold
            Parti Townhall
          .image.hidden-xs{ style: "background-image: url(#{asset_url('platforms/townhall.png')});" }
          .image.visible-xs{ style: "background-image: url(#{asset_url('platforms/townhall-mobile.png')});" }
          .description
            .maintext
              The ultimate real-time discussion platform for events and meetings:
              %br.visible-sm
              This is especially useful during debates, live seminars, lectures and presentations, making such events more interactive by allowing the audience to participate more actively.
            .download.fill
              %button.btn.fill
                %a.link.btn-english.fill{href:"http://townhall.kr", target: "_blank" }
                  Web
        .card
          .platform-name.bold.bold
            Democracy Seoul
          .image.hidden-xs{ style: "background-image: url(#{asset_url('platforms/democracy-seoul.png')});" }
          .image.visible-xs{ style: "background-image: url(#{asset_url('platforms/democracy-seoul-mobile.png')});" }
          .description
            .maintext
              The public sphere of Seoul:
              %br.visible-sm
              Seoul citizens are encouraged to take part in making suggestions and making decisions about their city. If enough people agree with the suggestions made, those in power will be notified, and action may be taken.
            .download.fill
              %button.btn.fill
                %a.link.btn-english.fill{href:"https://democracy.seoul.go.kr/", target: "_blank" }
                  Web
  .be-with-us
    .main-container
      .title.light
        Spread the word
      .maintext.mg-sm
        Why don't you introduce us to your friends?
      %button.clap{'data-toggle': "modal", 'data-target': "#clap-modal"}
        .clap-image
    #clap-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
            .subtitle.medium.email-guide
              I support Parti !
            .sns
              .box
                =social_share_button_tag("I support @PartiUnion", :allow_sites => %w(facebook), url: request.original_url, desc: 'Democracy More, Parti !')
              .box
                =social_share_button_tag("I support @parti_coop", :allow_sites => %w(twitter), url: request.original_url)
              .box
                .btn.js-clipboard{ ' data-clipboard-text': request.original_url, 'data-toggle': 'tooltip', 'data-title': 'Copied!' }
                  %img{ src: "#{asset_url('contact/link.png')}"}

  .contact
    .text
      .subtitle.medium
        Contact Us
      .maintext
        If you are curious about our activities or you would like to join us, please don’t hesitate to contact us.
    .sns
      %a.box{href: "https://www.facebook.com/PartiUnion/", target: "_blank"}
        %img{ src: "#{asset_url('contact/facebook.png')}"}
      %a.box{href: "https://twitter.com/parti_coop", target: "_blank"}
        %img{ src: "#{asset_url('contact/twitter.png')}"}
      %a.box{href: "https://github.com/parti-coop", target: "_blank"}
        %img{ src: "#{asset_url('contact/github.png')}"}
      %a.box{href: "mailto:help@parti.xyz"}
        %img{ src: "#{asset_url('contact/email.png')}"}
    .newsletter
      Newsletter
    %button.subscribe{class: 'newsletter', 'data-toggle': "modal", 'data-target': "#subscribe-email-modal"}
      Subscribe (Korean)
    #subscribe-email-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
            %form{:action => stibee_path, :method => "POST"}
              = hidden_field_tag :authenticity_token, form_authenticity_token
              .subtitle.email-guide
                Thanks for subscribing!
              .email-input
                %label{:for => "email"} Email
                %input#email{:name => "email", :type => "email", class: 'form-control'}/
                %button.btn.btn-english{:type => "submit"} subscribe
