#page-english
  .slogan
    .h1
      DEMOCRACY MORE
  .mission
    .h2
      We can build better democratic systems and culture through IT platforms.
    .h4
      Due to Korea’s hierarchy system, it can be challenging to communicate democratically in everyday life. Regular citizens may have great difficulty when trying to make positive changes to society. So Parti wants to make a more democratic life and culture. We do this by creating IT platforms and organising offline meetups.
  .who-we-are
    .photo
    .description
      .h2
        We are a group of democracy activists
      .h4
        who create IT platforms, contents, and communities to spread democracy in the world.
  .platforms
    .h3
      Platforms
    .p
      We create platforms, campaigns, and user guides in order to make your life more democratic.
    .owl-carousel.owl-theme.slide
      .card
        .platform-name
          Parti
        .image
          %img{ src: "#{asset_url('platforms/parti.png')}"}
        .description
          .p
            A useful platform designed to make companies and other organisations or communities more democratic.
          .download
            %button.box
              %img{ src: "#{asset_url('icon/apple.png')}"}
              .hidden-xs
                App Store
            %button.box
              %img{ src: "#{asset_url('icon/google-play.png')}"}
              .hidden-xs
                Google Play
            %button.link.btn-english
              %a{href:"https://parti.xyz", target: "_blank" }
                Web
      .card
        .platform-name
          Govcraft
        .image
          %img{ src: "#{asset_url('platforms/govcraft.png')}"}
        .description
          .p
            A platform to help citizens get involved with political campaigns which affect their lives. This platform helps people speak about and act on issues which they feel passionate about. This is done using tools such as petitions, mailing, archives or bulletin boards.
          .download
            %button.link.btn-english
              %a{href:"https://govcraft.org", target: "_blank" }
                Web
      .card
        .platform-name
          Parti Townhall
        .image
          %img{ src: "#{asset_url('platforms/townhall.png')}"}
        .description
          .p
            A fun and easy real-time decision-making platform, which is especially useful during live seminars, lectures and presentations, that can make such events more interactive and allow the audience to participate more actively.
          .download
            %button.link.btn-english
              %a{href:"http://townhall.kr", target: "_blank" }
                Web
      .card
        .image
          %img{ src: "#{asset_url('platforms/democracy-seoul.png')}"}
        .description
          .platform-name
            Democracy Seoul
          .p
            The public sphere of Seoul. This platform provides the opportunity for regular citizens to propose ideas they have to improve society. If enough people agree with the idea, those in power will be notified and action may be taken.
          .download
            %button.link.btn-english
              %a{href:"https://democracy.seoul.go.kr/", target: "_blank" }
                Web
  .contents
    .h3
      How to use
    .p
      We want to make sure that our users feel confident using our platforms so we provide helpful guides which explain how to use them and how to get the most out of them. We also update our blog regularly if you are interested in learning more about what we’re doing.
    .row
      .box.col-sm-6
        Guide for your Democratic Life
      .box.col-sm-6
        %a{href:"https://medium.com/parti-xyz-developers", target: "_blank" }
          Blog
  .movement
    .h3
      Our actions and aims
    .p
      Collect public opinion on/offline, call for institutional improvement, and increase political participation amongst regular citizens.
    .photo
      .row
        .card.col-sm-4{style: "background-image: url(#{asset_url('actions/1.png')})" }
        .card.col-sm-4{style: "background-image: url(#{asset_url('actions/2.png')})" }
        .card.col-sm-4{style: "background-image: url(#{asset_url('actions/3.png')})" }
      .row.hidden-xs
        .card.col-sm-4{style: "background-image: url(#{asset_url('actions/4.png')})" }
        .card.col-sm-4{style: "background-image: url(#{asset_url('actions/5.png')})" }
        .card.col-sm-4{style: "background-image: url(#{asset_url('actions/6.png')})" }
  .be-with-us
    .clap.hidden-xs{class: 'clap', 'data-toggle': "modal", 'data-target': "#clap-modal"}
      .clap-image
    .h2
      Spread the word
    .p
      Why don't you introduce us to your friends?
    .clap.visible-xs{class: 'clap', 'data-toggle': "modal", 'data-target': "#clap-modal"}
      .clap-image
    #clap-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
            .h3.email-guide
              I support Parti !
            .sns
              .box
                %img{ src: "#{asset_url('contact/twitter.png')}"}
              .box
                %img{ src: "#{asset_url('contact/facebook.png')}"}
              .box
                %img{ src: "#{asset_url('contact/link.png')}"}

  .contact
    .text
      .h3
        Contact Us
      .p
        If you are curious about our activities or you would like to join us, please don’t hesitate to contact us.
    .sns
      .box
        %img{ src: "#{asset_url('contact/twitter.png')}"}
      .box
        %img{ src: "#{asset_url('contact/facebook.png')}"}
      .box
        %img{ src: "#{asset_url('contact/github.png')}"}
      .box
        %img{ src: "#{asset_url('contact/email.png')}"}
    .newsletter
      Newsletter
    %button.subscribe{class: 'newsletter', 'data-toggle': "modal", 'data-target': "#subscribe-email-modal"}
      Subscribe (Korean)
    #subscribe-email-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
            %form{:action => "https://stibee.com/api/v1.0/lists/8eGeZJ_Ir8_jNilIvX8XV2a6BQ==/public/subscribers", :method => "POST"}
              %h5.email-guide
                Subscribe Parti in your mailbox
              .email-input
                %label{:for => "email"} Email
                %input#email{:name => "email", :type => "email", class: 'form-control'}/
                %button{class: 'btn', :type => "submit"} subscribe
