= render 'slides'

= render 'about'

/ ScrollToTop Button
%a.bloc-button.btn.btn-d.scrollToTop{:onclick => "scrollToTarget('1')"}
  %span.fa.fa-chevron-up
/ ScrollToTop Button END

= render 'campaigns'

= render 'platforms'

= render 'team'

/ = render 'collaboration'

/ %form{:action => "https://stibee.com/api/v1.0/lists/zlQ72q57HFKHpC3z9v56Pdzvvg==/public/subscribers", :method => "POST"}
/   %h1 쉽고 즐거운 정치모델 소식을 뉴스레터로 만나보세요.
/   %fieldset
/     %label{:for => "email"} 이메일 주소
/     %input#email{:name => "email", :type => "text"}/
/   %fieldset
/     %label{:for => "name"} 이름
/     %input#name{:name => "name", :type => "text"}/
/   %fieldset
/     %button{:type => "submit"} 구독하기
