= render 'main_slider'

= render 'about'

/ ScrollToTop Button
%a.bloc-button.btn.btn-d.scrollToTop{:onclick => "scrollToTarget('1')"}
  %span.fa.fa-chevron-up
/ ScrollToTop Button END

= render 'campaigns'

= render 'platforms'

= render 'team'

= render 'collaboration'
