#page-about
  .header
    .container.bloc-sm
      %p.text-center.about-text
        빠띠는 민주적 삶과 문화를 만드는
        %br.visible-xs
        민주주의 활동가 그룹입니다.
  .bloc.bgc-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h3.statement-bloc-text.mg-clear.tc-outer-space
            %span PROBLEM
          %p.mg-sm.text-center
            %strong<>개인의 목소리가 들리지 않는 일상
            %br
            반민주적이거나 반인권적인 문화에 대한
            %br.visible-xs
            개인의 목소리가 존재하지만 들리지 않습니다.
            %br
            목소리를 가지지 못한 개인은
            %br.visible-xs
            사회의 부분을 이루지 못하고 흩어져있습니다.
            %br
            대부분의 목소리는 자본, 언론, 정치 권력에 부여되어 있고,
            %br
            시간이 지날수록 집중이 분산되는 방식이 아니라
            %br.visible-xs
            권력을 더욱 공고히 하는 방향으로 재편됩니다.
            %br
            %br
            %strong<>각자의 문제를 함께 해결할 수 있는 도구/방법이 없는 시민
            %br
            시민이 정치적으로 문제를 인지하고
            %br.visible-xs
            행동할 수 있는 기반이 없고,
            %br
            정치에 대한 혐오가 존재하여 ‘정치적 인간'으로서의
            %br.visible-xs
            시민의 존재가 불안정한 상황입니다.
            %br
            이슈 해결을 위해 만들어진 창구들은
            %br
            그 플랫폼을 가진 사람들의 이익을 위해 보여주기식으로
            %br.visible-xs
            사용되거나 거의 기능을 못하고 있는 상황입니다.
            %br
            %br
            %strong<>다양한 삶의 가능성이 없는 사회
            %br
            특정한 삶의 모습이 일반적인 것으로 권장되고,
            %br.visible-xs
            다른 삶의 실험이 어려운 사회입니다.
            %br
            개인의 다양성이 사라진 사회에서
            %br.visible-xs
            민주주의가 제대로 작동하기란 어렵습니다.
  .content-line
  .bloc.bgc-white.l-bloc
    .container.bloc-sm
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          %h3.statement-bloc-text.mg-clear.tc-outer-space
            %span MISSION
          %p.mg-sm.text-center
            %strong<>일상 속에서 개인이 자신의 목소리를 낼 수 있는
            %br
            %strong<>공간을 만듭니다.
            %br
            %strong<>시민 개인의 목소리를 모으고, 이를 지지하는 사람들을
            %br
            %strong<>연결합니다.
            %br
            %strong<>연결된 사람들이 변화를 위해 문제를 함께 해결할 수 있는
            %br
            %strong<>도구를 제공합니다.
  .content-line
  .bloc.bgc-white.l-bloc
    .container.bloc-sm
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          %h3.statement-bloc-text.mg-clear.tc-outer-space
            %span OUR WAY
          %p.mg-sm.text-center
            %strong<>일상적으로
            %br
            거대 담론에 가려진 일상을 더 드러내고,
            %br.visible-xs
            일상의 문제에 초점을 둡니다.
            %br
            삶, 그리고 개인과 떨어져있지 않은 해결책을 고민합니다.
            %br
            언제 어디서나 이야기하고 참여할 수 있는
            %br.visible-xs
            일상적인 도구를 만듭니다.
            %br.visible-xs
            %br
            %strong<>빠띠 속도로(실험적인)
            %br
            빠띠가 가진 고유한 보폭을 유지하며 일합니다.
            %br
            완벽한 과정 미리 설계하기 보다는
            %br.visible-xs
            작은 실험을 통해 점진적으로 과정을 만들어 나갑니다.
            %br.visible-xs
            %br
            %strong<>섬세하게
            %br
            소수의견도 무시되지 않는 의사결정 과정을 설계합니다.
            %br
            모든 과정은 투명하고 꼼꼼하게 기록됩니다.
            %br.visible-xs
            %br
            %strong<>느슨하게 연결된
            %br
            능동적이고 독립적인 개인이
            %br.visible-xs
            느슨하게 연결되어 만드는 힘을 긍정합니다.
            %br
            다양한 관심사를 존중하고,
            %br.visible-xs
            다양성이 인정받는 건강한 토양을 만들어 나갑니다.
            %br
            %strong<>기술을 활용한
            %br
            기술이 만들어 낸 가능성을 긍정적으로 보고
            %br.visible-xs
            기술의 공공성에 대한 담론을 만듭니다.
            %br
            기술을 가지고 더 나은 민주주의 문화를
            %br.visible-xs
            구현하기 위한 시스템을 만듭니다.
            %br.visible-xs
            %br
            %strong<>빠띠는 성적지향·성별정체성·성별표현을 이유로 한 차별을 금지합니다.
  .content-line
  #anchor-team.bloc.bgc-white.l-bloc.team-container
    .container.bloc-md
      .row
        .col-sm-12
          %h2.text-center.mg-md.tc-outer-space
            TEAM
          %p.text-center
            빠띠는 다양한 영역에서 활동하고 있는
            %br.visible-xs
            민주주의 활동가들과 함께하고 있습니다.
      .row.team-member-container.mg-sm
        .team-member
          .col-sm-2
            = image_tag "team-picture-sis.png", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
          .col-sm-4
            %h3.blocs-team-header
              권오현
            %p.blocs-team-details
              세상이 모두에게 즐겁고 평화로운 곳이 되는데 기여하려고 잘 하든 못하든 상관없이 여러가지 일을 벌입니다.
            .socail-account
              %a{:href => "https://twitter.com/rest515", :target => "_blank"}
                %span.fa.fa-twitter.icon-sm
              %a{:href => "https://www.facebook.com/rest515", :target => "_blank"}
                %span.fa.fa-facebook.icon-sm
              %a{:href => "https://github.com/rest515", :target => "_blank"}
                %span.fa.fa-github.icon-sm
        .team-member
          .col-sm-2
            = image_tag "team-picture-dali.png", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
          .col-sm-4
            %h3.blocs-team-header
              달리
            %p.blocs-team-details
              플랫폼 개발을 하고 있습니다. 삶에서 자급자립, 대안공동체를 고민하고 실천하고 있습니다.
            .socail-account
              %a{:href => "https://twitter.com/blue_spider", :target => "_blank"}
                %span.fa.fa-twitter.icon-sm
              %a{:href => "https://github.com/dalikim", :target => "_blank"}
                %span.fa.fa-github.icon-sm
      .row.team-member-container
        .team-member
          .col-sm-2
            = image_tag "team-picture-berry.jpg", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
          .col-sm-4
            %h3.blocs-team-header
              박은지
            %p.blocs-team-details
              디자인을 베이스로 캠페인를 기획하고 있습니다. 페미니즘, 여성이 겪는 가정폭력, 생활동반자법, 젠더이슈, 주거문제에 관심이 많습니다.
            .socail-account
              %a{:href => "https://twitter.com/berrytext140", :target => "_blank"}
                %span.fa.fa-twitter.icon-sm
              %a{:href => "https://www.facebook.com/rozyroom", :target => "_blank"}
                %span.fa.fa-facebook.icon-sm
              %a{:href => "http://oysterberry.tumblr.com/", :target => "_blank"}
                %span.fa.fa-home.icon-sm
        .team-member
          .col-sm-2
            = image_tag "team-picture-ssinkj.jpg", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
          .col-sm-4
            %h3.blocs-team-header
              정승구
            %p.blocs-team-details
              커뮤니티를 만드는 사람들을 돕고 있습니다. 세상을 긍정적으로 변화시키는 커뮤니티에 관심이 많습니다.
            .socail-account
              %a{:href => "https://medium.com/@seungkujung", :target => "_blank"}
                %span.fa.fa-medium.icon-sm
      .row.team-member-container
        .team-member
          .col-sm-2
            = image_tag "team-picture-greenhair.jpg", class: 'img-circle center-block blocs-team-avatar img-frame-rd'
          .col-sm-4
            %h3.blocs-team-header
              조이성화
            %p.blocs-team-details
              개발을 합니다. 페미니즘, 군인권, 학교에서의 민주주의에 관심이 있습니다. 혐오와 차별이 없는 세상이 되었으면 좋겠습니다.
            .socail-account
              %a{:href => "https://www.facebook.com/Martian.Lee", :target => "_blank"}
                %span.fa.fa-facebook.icon-sm
              %a{:href => "https://github.com/martianlee", :target => "_blank"}
                %span.fa.fa-github.icon-sm
              %a{:href => "https://brunch.co.kr/@martian", :target => "_blank"}
                %span.fa.fa-home.icon-sm

  #bloc.bgc-anti-flash-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h3.statement-bloc-text.mg-clear.tc-outer-space
            %span 소개 자료
          .introduce-box
            %p.text-center.introduce-text
              %strong<>빠띠 PPT 소개 자료 다운로드
          .introduce-box
            %a{:href => "https://union.parti.xyz/file_source/2866/download"}
              %p.text-center.introduce-text
                %strong<>리플렛 PDF 다운로드
          .introduce-box
            %p.text-center.introduce-text
              %strong<>로고 파일 다운로드

  #bloc.bgc-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h3.statement-bloc-text.mg-clear.tc-outer-space
            %span 기사 및 보도자료
          %p.mg-md.text-center
            언론에 소개된 빠띠 소식을 공유합니다
          .article-box
            %a{:href => "http://news.joins.com/article/21494433", :target => "_blank"}
              [TONG] “개발자=코딩? 아니죠~ 컴퓨터와 사람 사이 통역합니다”
              %br
              2017-04-19
          .article-box
            %a{:href => "http://www.ohmynews.com/NWS_Web/View/at_pg.aspx?CNTN_CD=A0002313223", :target => "_blank"}
              온라인으로 대통령 탄핵하는 세상, 올까?
              %br
              [인터뷰] 인터넷이 아닌 민주주의를 개발합니다, 권오현 빠흐띠 대표
              %br
              2017-04-05
          .article-box.last
            %a{:href => "http://m.etnews.com/20161213000311?obj=Tzo4OiJzdGRDbGFzcyI6Mjp7czo3OiJyZWZlcmVyIjtOO3M6NzoiZm9yd2FyZCI7czoxMzoid2ViIHRvIG1vYmlsZSI7fQ%3D%3D", :target => "_blank"}
              "온라인 공론장이 세상을 바꿀 수 있다" | 빠띠 인터뷰
              %br
              2016-06-30
          .more-article-box.text-center
            %a{:href => "https://union.parti.xyz/p/partinews"}
              .more-article-text
                빠띠 관련 소식 더보기
