#bloc-36.bloc.bgc-anti-flash-white.l-bloc.campaign-detail
  .container.bloc-md
    .row
      .col-sm-8
        = link_to 'http://up.parti.xyz/step2', target: '_blank' do
          = image_tag "campaigns/campaign-iknow2-detail1.png", class: 'img-responsive'
      .col-sm-4
        %h3.mg-md
          = link_to 'http://up.parti.xyz/step2', target: '_blank' do
            바글시민와글입법(2) 정당 이름 투표, 당원 모집
        %p
          %span 바글시민와글입법 1차 쟁점법안 투표에서 4개 법안 중 5470개의 표를 받은 GMO 완전표시제 입법을 위한 원이슈 프로젝트 정당 만들었다.
          %br/
          %span 오로지 ‘GMO 완전표시제법’ 국회 통과를 목적으로 한 정당 창당을 알리고, 투표로 이름까지 결정한 ‘나는 알아야겠당’은 온라인 플랫폼을 기반으로 특정 이슈를 해결하겠다는 800여명의 시민들을 모아 국내 최초의 프로젝트 정당이 되었다.
          %br/
          %span 이후 법안 쟁점에 대한 지식을 공유하기 위해 관련 기사와 간단한 퀴즈를 진행하기도 했다.
          %br/
          %br/
          %strong link
          %a.ltc-dark-pastel-purple{:href => " http://up.parti.xyz/step2 ", :target => "_blank"} http://up.parti.xyz/step2
          %br/
          %strong date
          %span 2016년 7월 5일 ~ 7월 25일
          %br/
          %strong with
          %span 한겨레21
          %br/
          %strong press
          %a.ltc-dark-pastel-purple{:href => "http://h21.hani.co.kr/arti/cover/cover_general/41992.html", :target => "_blank"} 안전한 밥상의 권리를 찾아서
          %span
            %br/
          %a.ltc-dark-pastel-purple{:href => "http://h21.hani.co.kr/arti/cover/cover_general/41993.html", :target => "_blank"} 세상에 없던 정당의 당원이 되세요
          %span
            %br/
          %a.ltc-dark-pastel-purple{:href => "http://h21.hani.co.kr/arti/cover/cover_general/41994.html", :target => "_blank"} 식약처는 왜 GMO를 말하지 않았나
          %span
            %br/
          %a.ltc-dark-pastel-purple{:href => "http://h21.hani.co.kr/arti/society/society_general/42108.html", :target => "_blank"} ‘알아야겠당'을 알려야겠다
          %span
            %br/
#bloc-37.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        %h2.text-center.mg-md
          이름 투표 영상
    .row.voffset
      .col-sm-12
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://www.youtube.com/embed/gBFoVRx4Mm8?list=PLwCgboQtbmkJcfJUhi7dbtIoQm6nASNoU", :webkitallowfullscreen => ""}
#bloc-38.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://up.parti.xyz/step2', target: '_blank' do
          = image_tag "campaigns/campaign-iknow2-detail2.png", class: 'img-responsive'
#bloc-39.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://up.parti.xyz/step2', target: '_blank' do
          = image_tag "campaigns/campaign-iknow2-detail3.png", class: 'img-responsive'
