#bloc-15.bloc.bgc-anti-flash-white.l-bloc.campaign-detail
  .container.bloc-md
    .row
      .col-sm-8
        = link_to 'http://up.parti.xyz/', target: '_blank' do
          = image_tag "campaign-iknow-detail1.png", class: 'img-responsive'
      .col-sm-4
        %h3.mg-md
          = link_to 'http://up.parti.xyz/', target: '_blank' do
            나는 알아야겠당
        %p
          입법안 채택부터 법안쟁점토론, 심사 통과 압박 액션까지, 총 800여명의 당원이 뭉친 국내 최초의 프로젝트 정당.
          %br
          이 실험은 빠띠의 “인터넷이 있는 지금, 새로운 정치 구조를 상상해볼 수 있는 기회가 열렸는데 왜 아직도 실험과 아이디어는 부족한 걸까.” 라는 물음과, 한 가지 법안의 입법 과정을 추적해보려는 한겨레21의 시도가 만나 시작되었다.
          %br
          입법안부터 시민의 투표로 정했다. 최저임금 1만원법, 전·월세 상한제법, 데이트폭력 처벌 강화법, GMO완전표시제법 중 5470명의 시민이 직접 투표로 정한 입법안‘GMO 완전표시제법&rsquo; 국회 통과를 목적으로 한 '나는 알아야겠당'을 창당해 800여명의 당원을 모았다.
          %br
          GMO 식품을 둘러싼 기업과 과학계, 소비자간의 견해차 뿐만 아니라 관련 법안으로 활동해 온 시민단체의 의견도 견해차가 있었다.
          %br
          '나는 알아야겠당'의 발의안은 시민단체의 쟁점토론을 보고 당원들의 투표와 의견으로 정해졌다. 정의당의 윤소하 의원에게 전달되었으며 발의 후 입법과정을 조속히 진행하도록 보건복지위 의원들에게 메일을 보내는 액션을 진행하기도 하였다.
          %br
          %br
          %strong link
          %a.ltc-dark-pastel-purple{:href => "http://up.parti.xyz/", :target => "_blank"} up.parti.xyz
          %strong
            %br>/
            with
          한겨레21, 나는 알아야겠당 당원
          %br/
          %strong date
          2016년 6월 7일 ~ 2017년 1월 5일
          %br/
          %strong press
          %a.ltc-dark-pastel-purple{:href => "http://h21.hani.co.kr/arti/SERIES/236/?cline=1 ", :target => "_blank"} 한겨레 21 바글와글시민입법 시리즈 기사
          %br/
          %a.ltc-dark-pastel-purple{:href => "https://brunch.co.kr/@waglog/1 ", :target => "_blank"} 와글 삼인사각 시민 입법 프로젝트
          %br/
          %a.ltc-dark-pastel-purple{:href => "http://www.hsnews.co.kr/news/articleView.html?idxno=77514 ", :target => "_blank"} 홍성신문 GMO 없는 홍성&lt;13&gt;/ 우리는, 알아야겠당!
          %br/
          %a.ltc-dark-pastel-purple{:href => "http://www.journalist.or.kr/news/article.html?no=39584 ", :target => "_blank"} 한국기자협회 독자들은 뿌린 기사만 읽지 않는다
          %br/
#bloc-16.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://up.parti.xyz/timeline', target: '_blank' do
          = image_tag "campaign-iknow-detail2.png", class: 'img-responsive'
#bloc-17.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://up.parti.xyz/propositions', target: '_blank' do
          = image_tag "campaign-iknow-detail3.png", class: 'img-responsive'
#bloc-18.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://up.parti.xyz/debates', target: '_blank' do
          = image_tag "campaign-iknow-detail4.png", class: 'img-responsive'
#bloc-19.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://up.parti.xyz/letter', target: '_blank' do
          = image_tag "campaign-iknow-detail5.png", class: 'img-responsive'
