#bloc-15.bloc.bgc-anti-flash-white.l-bloc.campaign-detail
  .container.bloc-md
    .row
      .col-sm-8
        = link_to 'http://innovators.kr/', target: '_blank' do
          = image_tag "campaigns/campaign-innovators-detail1.png", class: 'img-responsive'
        %br
      .col-sm-4
        %h3.mg-md
          = link_to 'http://innovators.kr/', target: '_blank' do
            당신은 혁신의 편입니까?
        %p
          혁신가들에게 묻고 전문가들에게 도움받아 새로운 사회시스템을 위한 정책제안 프로젝트 '당신은 혁신의 편입니까?'에 미디어 파트로 함께했습니다.
          %br
          앞장 서서 혁신의 편에 있는 사람들의 이야기에서 발견한 인사이트를 공유하고, 사회 혁신의 맨 앞이기에 누구보다 먼저 겪는 어려움을 어떻게 해결할 수 있을지 혁신가들을 인터뷰하고, 그들의 목소리를 모아보았습니다.
          %br
          %br
          %strong link
          %a.ltc-dark-pastel-purple{:href => "http://innovators.kr/", :target => "_blank"} innovators.kr
          %strong
            %br>/
            with
          여시재
          %br/
          %strong date
          2017년 2월 14일
          %br/
          %strong press
          %a.ltc-dark-pastel-purple{:href => "http://www.hani.co.kr/arti/opinion/column/780097.html", :target => "_blank"} 혁신의 편에 선다는 것
          %br/
#bloc-16.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://innovators.kr/about', target: '_blank' do
          = image_tag "campaigns/campaign-innovators-detail2.png", class: 'img-responsive'
#bloc-17.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://innovators.kr/interviews', target: '_blank' do
          = image_tag "campaigns/campaign-innovators-detail3.png", class: 'img-responsive'
#bloc-18.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://innovators.kr/interviews/6', target: '_blank' do
          = image_tag "campaigns/campaign-innovators-detail4.png", class: 'img-responsive'
