#bloc-15.bloc.bgc-anti-flash-white.l-bloc.campaign-detail
  .container.bloc-md
    .row
      .col-sm-8
        = image_tag "campaigns/campaign-issuebattle-detail1.jpg", class: 'img-responsive'
        %br
        = image_tag "campaigns/campaign-issuebattle-detail2.jpeg", class: 'img-responsive'
        %br
        = image_tag "campaigns/campaign-issuebattle-detail3.jpeg", class: 'img-responsive'
        %br
        = image_tag "campaigns/campaign-issuebattle-detail4.jpeg", class: 'img-responsive'
        %br
        = image_tag "campaigns/campaign-issuebattle-detail5.jpg", class: 'img-responsive'
        %br
        = image_tag "campaigns/campaign-issuebattle-detail6.png", class: 'img-responsive'
        %br
        = image_tag "campaigns/campaign-issuebattle-detail7.jpg", class: 'img-responsive'
        %br

      .col-sm-4
        %h3.mg-md
          정책배틀
        %p
          사회적 의제를 놓고 전문가, 활동가, 정치인, 일반 시민들이 모여서 토론과 투표를 통해 해결책을 마련해 가는 참여형 의사결정 플랫폼 '타운홀'을 활용하여 오프라인에서 전문가가 제안하고 시민이 투표하는 '정책배틀'을 진행했습니다.
          %br
          정치개혁, 검찰개혁, 민생해법 등 세가지 분야에서, 분야별로 두가지 개혁 방안을 맞세워 경쟁하는 방식으로 무작위 추첨으로 뽑힌 시민정책배심원단이 양쪽 전문가가 내놓은 정책방안을 심의하고 최종 투표를 통해 더 나은 방안을 선택하도록 했습니다.
          %br
          %br
          %strong link
          %a.ltc-dark-pastel-purple{:href => "http://townhall.parti.do/", :target => "_blank"} http://townhall.parti.do/
          %br (본 프로젝트 투표 페이지는 참여자에게만 공개했습니다)
          %strong
            with
          세상을 바꾸는 꿈, 바꿈
          %br/
          %strong date
          %br
          \-2017년 2월 4일 선거제도vs개헌
          %br
          \-2017년 2월 11일 검찰개혁 쟁점
          %br
          \-2017년 2월 12일 청년배당 지급 vs 건강보험 하나로
          %br/
          %strong press
          %br
          %a.ltc-dark-pastel-purple{:href => "http://www.hani.co.kr/arti/society/society_general/782361.html", :target => "_blank"} 심드렁했는데… 어느새 물개박수 치고 있는 나를 발견했다
          %br/
          %a.ltc-dark-pastel-purple{:href => "http://www.hani.co.kr/arti/society/society_general/783308.html", :target => "_blank"} 검사장 직선제 찬성 vs 반대 정책배틀 해보니
          %br/
          %a.ltc-dark-pastel-purple{:href => "http://http://www.hani.co.kr/arti/society/society_general/783309.html?_fr=mt2", :target => "_blank"} 청년배당 vs 건강보험 정책배틀 해보니
          %br/
          %a.ltc-dark-pastel-purple{:href => "http://www.hani.co.kr/arti/society/society_general/783311.html", :target => "_blank"} 국민은 더이상 구경꾼이 아니다
          %br/
