#bloc-23.bloc.bgc-anti-flash-white.l-bloc.campaign-detail
  .container.bloc-md
    .row
      .col-sm-8
        = link_to 'http://toktok.io/', target: '_blank' do
          = image_tag "campaigns/campaign-toktok-detail1.png", class: 'img-responsive'
      .col-sm-4
        %h3.mg-md
          = link_to 'http://toktok.io/', target: '_blank' do
            국회톡톡
        %p
          국회에는 시민들이 만든 법안부터 결의안, 지역 민원까지 다양한 형태의 청원이 접수된다. 그러나 19대 국회 4년 동안 모두 227건의 청원이 있었지만 본회의에서 ‘채택&rsquo;된 것은 단 2건이었다.
          %br
          와글과 빠띠, 그리고 더미래연구소가 공동으로 기획, 제작한 국회 톡톡은 시민의 입장에서 법을 만드는 과정을 재설계했다. 입법 과정을 '시민 제안 및 지지→의원 매칭→입법 활동'의 3단계로 구분했다. 시민은 국회 톡톡에서 직접 정책제안을 할 수 있다.
          %br
          이 제안을 지지하는 시민들이 1000명이 넘으면, 국회 톡톡에서 해당 상임위 국회의원들에게 메일을 보내 시민 제안에 대한 응답을 요청한다. 매칭 기간 2주 동안 국회의원들의 참여/거부/무응답 내역이 국회 톡톡을 통해 실시간으로 공개된다.
          %br
          매칭된 시민들과 국회의원은 '입법 드림팀'이 되어 별도로 마련된 온라인 공간에서 쌍방향 소통하면서 입법의 전 과정을 공유하고 법안을 만들 때 꼭 담아야 할 핵심 내용이 무엇일지에 대해 서로 의견을 나누고 있다.
          %br
          %br
          %strong link
          %a.ltc-dark-pastel-purple{:href => "http://toktok.io/", :target => "_blank"} toktok.io
          %br/
          %strong with
          와글, 더미래연구소
          %br/
          %strong date
          2016년 10월 25일 ~
          %br/
          %strong press
          %a.ltc-dark-pastel-purple{:href => "https://brunch.co.kr/@waglog/96", :target => "_blank"} 빠흐띠는 이렇게 국회톡톡을 만들었습니다
          %br/
          %a.ltc-dark-pastel-purple{:href => "http://www.hani.co.kr/arti/politics/polibar/767321.html ", :target => "_blank"} 한겨레21 ‘국회톡톡’으로 닫힌 국회를 똑!똑!
          %br/
          %a.ltc-dark-pastel-purple{:href => "http://www.bloter.net/archives/264937 ", :target => "_blank"} 블로터 “시민이 직접 입법 참여하자”…와글, ‘국회톡톡’ 오픈
          %br/
          %a.ltc-dark-pastel-purple{:href => "http://themirae.org/if-media-%ED%95%9C%EA%B5%AD%EC%9D%98-%EC%8B%9C%EB%AF%BC%EC%9E%85%EB%B2%95-%EA%B1%B8%EC%96%B4%EC%98%A8-%EA%B8%B8-%EA%B1%B8%EC%96%B4%EA%B0%88-%EA%B8%B8-%ED%99%8D%EC%9D%BC%ED%91%9C-%EB%8D%94/ ", :target => "_blank"} IF MEDIA 한국의 시민입법 : 걸어온 길, 걸어갈 길
          %br/
          %a.ltc-dark-pastel-purple{:href => "http://www.9min.co.kr/m/news.aspx/17/2/369064", :target => "_blank"} 구민신문 시민의 제안이 국회로 간다, 국회시민정치포럼(공동대표 진선미 의원(더불어민주당 강동구 갑) 시민입법플랫폼 “국회톡톡” 오픈
          %br/
#bloc-24.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://toktok.io/projects/5', target: '_blank' do
          = image_tag "campaigns/campaign-toktok-detail2.png", class: 'img-responsive'
#bloc-25.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://toktok.io/projects/5', target: '_blank' do
          = image_tag "campaigns/campaign-toktok-detail3.png", class: 'img-responsive'
#bloc-26.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://toktok.io/projects/5', target: '_blank' do
          = image_tag "campaigns/campaign-toktok-detail4.png", class: 'img-responsive'
#bloc-27.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        = link_to 'http://toktok.io/projects/5', target: '_blank' do
          = image_tag "campaigns/campaign-toktok-detail5.png", class: 'img-responsive'
