#bloc-0.bloc.bgc-white.l-bloc.application-header
  .container
    %nav.navbar.row
      .navbar-header
        = link_to root_path, class: 'navbar-brand' do
          %img{:src => "img/partiunion.png"}
        %button#nav-toggle.ui-navbar-toggle.navbar-toggle{"data-target" => ".navbar-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .navbar-collapse.navbar-1.collapse
        %ul.site-navigation.nav.navbar-nav
          %li
            = link_to root_path(anchor: 'anchor-about') do
              소개
          %li
            = link_to root_path(anchor: 'anchor-campaign') do
              캠페인
          %li
            = link_to root_path(anchor: 'anchor-platform') do
              플랫폼
          %li
            = link_to root_path(anchor: 'anchor-team') do
              팀
          %li
            = link_to root_path(anchor: 'anchor-collaboration') do
              협업
          %li
            = link_to root_path(anchor: 'anchor-contact') do
              연락처
